Repository Leonidas-maker/TheStudentMaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black-format, prettier-format

black-format:
  stage: format
  image: python:3.12
  script:
  - pip install black
  - black --line-length 120 --target-version py312 .
  ...

prettier-format:
  stage: format
  image: node:lts
  script:
  - npm install --global prettier
  - prettier "!.gitlab-ci.yml" --write "**/*.{js,jsx,ts,tsx,json,css,scss,md,yml}"
  ...

Format code using Prettier
  Client/src/components/switch/OptionSwitch.tsx
  Client/src/components/textInputs/TextFieldInput.tsx
Due: prettier-format

added logo to qr code
  Client/public/logo/TheStudentMaster.png
  Client/src/components/menuPlan/DishView.tsx
  Client/src/screens/accountManagement/mfa/AddMfa.tsx
Due: prettier-format

Format code using Prettier
  Client/src/screens/accountManagement/mfa/AddMfa.tsx
Due: prettier-format

Format code using Prettier
  Client/src/components/navigator/Navigator.tsx
  Client/src/components/selector/WeekSelector.tsx
Due: prettier-format

replaced all TouchableOpacity to Pressable
  Client/src/components/navigator/Navigator.tsx
  Client/src/components/profileView/ProfileView.tsx
  Client/src/components/selector/WeekSelector.tsx
  Client/src/screens/settings/Settings.tsx
Due: prettier-format

styled textinput, dropdown, optionswitch
  Client/src/components/buttons/DefaultButton.tsx
  Client/src/components/dropdown/Dropdown.tsx
  Client/src/components/switch/OptionSwitch.tsx
  Client/src/components/textInputs/TextFieldInput.tsx
Due: prettier-format

Format code using Prettier
  Client/src/components/calendar/Days.tsx
  Client/src/components/calendar/Hours.tsx
  Client/src/provider/ThemeProvider.tsx
  Client/tailwind.config.js
Due: prettier-format

Format code using Prettier
  Client/src/components/calendar/Event.tsx
  Client/src/components/dropdown/Dropdown.tsx
Due: prettier-format

Format code using Prettier
  Client/src/components/menuPlan/DayView.tsx
  Client/src/screens/accountManagement/forgotPassword/ForgotPassword.tsx
  Client/src/screens/accountManagement/forgotPassword/NewPassword.tsx
  Client/src/screens/accountManagement/forgotPassword/VerifyForgot.tsx
  Client/src/screens/accountManagement/login/Login.tsx
  Client/src/screens/accountManagement/login/VerifyLogin.tsx
  Client/src/screens/accountManagement/mfa/AddMfa.tsx
  Client/src/screens/accountManagement/mfa/VerifyMfa.tsx
  Client/src/screens/accountManagement/registration/VerifyRegistration.tsx
  Client/src/screens/credits/Credits.tsx
  Client/src/screens/dashboard/Dashboard.tsx
  Client/src/screens/dualis/Dualis.tsx
  Client/src/screens/imprint/Imprint.tsx
  Client/src/screens/mealPlan/MealPlan.tsx
  Client/src/screens/overview/Overview.tsx
  Client/src/screens/profile/Profile.tsx
  Client/src/screens/responsibleDisclosure/ResponsibleDisclosure.tsx
Due: prettier-format

fixed not unique key issue, removed useTranslation
  Client/src/components/menuPlan/DayView.tsx
  Client/src/components/menuPlan/DishView.tsx
  Client/src/components/menuPlan/MenuPlan.tsx
  Client/src/components/profileView/ProfileView.tsx
  Client/src/screens/accountManagement/forgotPassword/ForgotPassword.tsx
  Client/src/screens/accountManagement/forgotPassword/NewPassword.tsx
  Client/src/screens/accountManagement/forgotPassword/VerifyForgot.tsx
  Client/src/screens/accountManagement/login/Login.tsx
  Client/src/screens/accountManagement/login/VerifyLogin.tsx
  Client/src/screens/accountManagement/mfa/AddMfa.tsx
  Client/src/screens/accountManagement/mfa/VerifyMfa.tsx
  Client/src/screens/accountManagement/registration/Registration.tsx
  Client/src/screens/accountManagement/registration/VerifyRegistration.tsx
  Client/src/screens/credits/Credits.tsx
  Client/src/screens/dashboard/Dashboard.tsx
  Client/src/screens/dualis/Dualis.tsx
  Client/src/screens/imprint/Imprint.tsx
  Client/src/screens/loading/Loading.tsx
  Client/src/screens/mealPlan/MealPlan.tsx
  Client/src/screens/overview/Overview.tsx
  Client/src/screens/profile/Profile.tsx
  Client/src/screens/responsibleDisclosure/ResponsibleDisclosure.tsx
  Client/src/screens/settings/Settings.tsx
Due: prettier-format

change button design
  Client/src/components/buttons/DefaultButton.tsx
  Client/src/components/buttons/TextButton.tsx
  Client/src/components/profileView/ProfileView.tsx
Due: prettier-format

Format code using Prettier
  Client/src/components/calendar/Event.tsx
  Client/src/components/selector/WeekSelector.tsx
  Client/src/routes/HomeBottomTabs.tsx
Due: prettier-format

started working on mealPlan design
  Client/src/components/calendar/Event.tsx
  Client/src/components/dropdown/Dropdown.tsx
  Client/src/components/menuPlan/DayView.tsx
  Client/src/routes/HomeBottomTabs.tsx
  Client/src/screens/mealPlan/MealPlan.tsx
  Client/tailwind.config.js
Due: prettier-format

Format code using Prettier
  Client/src/components/profileView/ProfileView.tsx
Due: prettier-format

more work on design
  Client/src/components/buttons/DefaultButton.tsx
  Client/src/components/calendar/Event.tsx
  Client/src/components/dropdown/Dropdown.tsx
  Client/src/components/menuPlan/DayView.tsx
  Client/src/components/menuPlan/DishView.tsx
  Client/src/components/menuPlan/testData/sample.json
  Client/src/components/navigator/Navigator.tsx
  Client/src/components/selector/WeekSelector.tsx
  Client/src/components/textFields/DefaultText.tsx
  Client/src/components/textFields/Heading.tsx
  Client/src/components/textFields/Subheading.tsx
  Client/src/routes/CredentialStack.tsx
  Client/src/routes/OverviewStack.tsx
  Client/src/screens/accountManagement/forgotPassword/ForgotPassword.tsx
  Client/src/screens/accountManagement/forgotPassword/NewPassword.tsx
  Client/src/screens/accountManagement/forgotPassword/VerifyForgot.tsx
  Client/src/screens/accountManagement/login/Login.tsx
  Client/src/screens/accountManagement/login/VerifyLogin.tsx
  Client/src/screens/accountManagement/mfa/AddMfa.tsx
  Client/src/screens/accountManagement/mfa/BackupMFA.tsx
  Client/src/screens/accountManagement/mfa/VerifyMfa.tsx
  Client/src/screens/accountManagement/registration/Registration.tsx
  Client/src/screens/accountManagement/registration/VerifyRegistration.tsx
  Client/src/screens/credits/Credits.tsx
  Client/src/screens/dualis/Dualis.tsx
  Client/src/screens/imprint/Imprint.tsx
  Client/src/screens/loading/Loading.tsx
  Client/src/screens/overview/Overview.tsx
  Client/src/screens/profile/Profile.tsx
  Client/src/screens/responsibleDisclosure/ResponsibleDisclosure.tsx
  Client/src/screens/settings/Settings.tsx
  Client/tailwind.config.js
Due: prettier-format

calendar with dark and light mode
  Client/src/components/calendar/Event.tsx
  Client/src/components/selector/WeekSelector.tsx
  Client/src/routes/HomeBottomTabs.tsx
  Client/src/screens/settings/Settings.tsx
  Client/tailwind.config.js
Due: prettier-format

fixed dark/light/system mode, started with design
  Client/app.json
  Client/package-lock.json
  Client/package.json
  Client/src/App.tsx
  Client/src/components/calendar/Days.tsx
  Client/src/components/calendar/Hours.tsx
  Client/src/components/calendar/PastMarker.tsx
  Client/src/components/calendar/TimeMarker.tsx
  Client/src/components/selector/WeekSelector.tsx
  Client/src/provider/ThemeProvider.tsx
  Client/src/screens/accountManagement/mfa/AddMfa.tsx
  Client/src/screens/dashboard/Dashboard.tsx
  Client/src/screens/settings/Settings.tsx
  Client/tailwind.config.js
Due: prettier-format

Format code using Prettier
  Client/src/components/calendar/Event.tsx
  Client/src/components/menuPlan/DishView.tsx
  Client/src/components/menuPlan/testData/sample.json
  Client/src/components/navigator/Navigator.tsx
  Client/src/components/textFields/Subheading.tsx
  Client/src/screens/accountManagement/mfa/AddMfa.tsx
Due: prettier-format

fix incompatibility with Intl.PluralRules API
  Client/package-lock.json
  Client/package.json
  Client/src/translations/TranslationConfig.tsx
Due: prettier-format

UML diagram (backend) updated and DB-ER diagram created
  Misc/docs/Server/structure.drawio
Due: none

update the function get_menu_for_canteen to be used by two routes to clean up and remove redundant code
  Server/middleware/canteen.py
  Server/routes/canteen.py
Due: black-format

Format code using Black
  Server/middleware/canteen.py
  Server/routes/canteen.py
Due: black-format

Feat/88 add route for getting menu whole menu for one canteen
  .gitignore
  Server/main.py
  Server/middleware/canteen.py
  Server/routes/canteen.py
  Server/routes/user.py
  Server/utils/canteen/canteen_scraper.py
  requirements.txt
Due: black-format

fixed TypeError
  Client/package-lock.json
  Client/package.json
  Client/src/translations/TranslationConfig.tsx
Due: prettier-format

Remove Cafe Soleil from canteen addresses
  Server/utils/canteen/canteen_addresses.json
Due: prettier-format

update error handling in canteen_scraper.py
  Server/utils/canteen/canteen_scraper.py
Due: black-format

small changes to the queried data for better readability
  Server/middleware/canteen.py
Due: black-format

Refactor test_main.py for correct menu data handling
  Server/test/test_main.py
Due: black-format

Format code using Black
  Server/middleware/canteen.py
  Server/test/test_main.py
Due: black-format

fix typo
  Server/models/sql_models/m_auth.py
Due: black-format

updated to SDK 51 and fixed dependencies
  Client/package-lock.json
  Client/package.json
  Client/src/screens/accountManagement/login/Login.tsx
Due: prettier-format

Format code using Prettier
  Client/src/screens/accountManagement/login/Login.tsx
Due: prettier-format

adding more logic for login
  Client/package-lock.json
  Client/package.json
  Client/src/components/accountManagement/otpInput/OTPInput.tsx
  Client/src/routes/CredentialStack.tsx
  Client/src/routes/HomeBottomTabs.tsx
  Client/src/routes/LoadingStack.tsx
  Client/src/routes/OverviewStack.tsx
  Client/src/routes/SettingsStack.tsx
  Client/src/screens/accountManagement/login/Login.tsx
  Client/src/screens/accountManagement/login/VerifyLogin.tsx
  Client/src/screens/accountManagement/mfa/AddMfa.tsx
Due: prettier-format

Format code using Prettier
  Client/src/components/accountManagement/otpInput/OTPInput.tsx
  Client/src/routes/CredentialStack.tsx
  Client/src/screens/accountManagement/login/Login.tsx
  Client/src/screens/accountManagement/login/VerifyLogin.tsx
Due: prettier-format

Added basic uml diagram backend
  Misc/docs/Server/structure.drawio
  Server/controllers/auth.py
  Server/routes/auth.py
Due: black-format

Format code using Black
  Server/controllers/auth.py
Due: black-format

Path conditions:
  black-format: any of: **/*.py
  prettier-format: any of: **/*.{js,jsx,ts,tsx,json,css,scss,md,yml}
