Repository Leonidas-maker/TheStudentMaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black-format, prettier-format

black-format:
  stage: format
  image: python:3.12
  script:
  - pip install black
  - black --line-length 120 --target-version py312 .
  ...

prettier-format:
  stage: format
  image: node:lts
  script:
  - npm install --global prettier
  - prettier "!.gitlab-ci.yml" --write "**/*.{js,jsx,ts,tsx,json,css,scss,md,yml}"
  ...

Update GitLab CI configuration to disable strict host key checking
  .gitlab-ci.yml
Due: prettier-format

Update GitLab CI configuration to include SSH private key in the build environment
  .gitlab-ci.yml
Due: prettier-format

Format code using Black
  Misc/docs/Server/flowchart/fcc.py
  Server/config/database.py
  Server/config/security.py
  Server/controllers/__init__.py
  Server/controllers/user.py
  Server/middleware/__init__.py
  Server/middleware/auth.py
  Server/middleware/database.py
  Server/middleware/ical.py
  Server/middleware/user.py
  Server/models/pydantic_schemas/__init__.py
  Server/models/sql_models/__init__.py
  Server/models/sql_models/m_general.py
  Server/models/sql_models/m_ical.py
  Server/models/sql_models/m_user.py
  Server/routes/__init__.py
  Server/routes/canteen.py
  Server/utils/canteen/canteen_stw_ma.py
  Server/utils/email/email.py
  Server/utils/ical/general.py
  Server/utils/ical/nativ_sources.py
  Server/utils/ical/schemas.py
Due: black-format

removed double check for formatting
  .gitlab-ci.yml
Due: prettier-format

created own component for otp input and started working on select components
  Client/src/components/accountManagement/otpInput/OTPInput.tsx
  Client/src/components/accountManagement/uniSelect/CourseSelect.tsx
  Client/src/components/accountManagement/uniSelect/UniSelect.tsx
  Client/src/screens/accountManagement/forgotPassword/VerifyForgot.tsx
  Client/src/screens/accountManagement/registration/VerifyRegistration.tsx
Due: prettier-format

changed every function to arrow functions for consitency
  Client/src/components/accountManagement/uniSelect/CourseSelect.tsx
  Client/src/components/accountManagement/uniSelect/UniSelect.tsx
  Client/src/components/dropdown/Dropdown.tsx
  Client/src/components/menuPlan/MenuPlan.tsx
  Client/src/components/navigator/AccountNavigator.tsx
  Client/src/components/navigator/ModuleNavigator.tsx
  Client/src/components/navigator/OverviewNavigator.tsx
  Client/src/components/profileView/ProfileView.tsx
  Client/src/routes/CredentialStack.tsx
  Client/src/routes/HomeBottomTabs.tsx
  Client/src/routes/LoadingStack.tsx
  Client/src/routes/OverviewStack.tsx
  Client/src/routes/SettingsStack.tsx
  Client/src/screens/accountManagement/forgotPassword/ForgotPassword.tsx
  Client/src/screens/accountManagement/forgotPassword/NewPassword.tsx
  Client/src/screens/accountManagement/forgotPassword/VerifyForgot.tsx
  Client/src/screens/accountManagement/login/Login.tsx
  Client/src/screens/accountManagement/login/VerifyLogin.tsx
  Client/src/screens/accountManagement/mfa/AddMfa.tsx
  Client/src/screens/accountManagement/mfa/VerifyMfa.tsx
  Client/src/screens/accountManagement/registration/Registration.tsx
  Client/src/screens/accountManagement/registration/VerifyRegistration.tsx
  Client/src/screens/credits/Credits.tsx
  Client/src/screens/dashboard/Dashboard.tsx
  Client/src/screens/dualis/Dualis.tsx
  Client/src/screens/imprint/Imprint.tsx
  Client/src/screens/loading/Loading.tsx
  Client/src/screens/mealPlan/MealPlan.tsx
  Client/src/screens/overview/Overview.tsx
  Client/src/screens/profile/Profile.tsx
  Client/src/screens/responsibleDisclosure/ResponsibleDisclosure.tsx
  Client/src/screens/settings/Settings.tsx
Due: prettier-format

added own component for dropdown
  Client/src/components/accountManagement/uniSelect/CourseSelect.tsx
  Client/src/components/accountManagement/uniSelect/UniSelect.tsx
  Client/src/components/dropdown/Dropdown.tsx
  Client/src/components/menuPlan/CanteenSelect.tsx
  Client/src/components/menuPlan/MenuPlan.tsx
  Client/src/screens/accountManagement/registration/Registration.tsx
Due: prettier-format

Update README.md
  README.md
Due: prettier-format

added own navigator component
  Client/src/components/navigator/AccountNavigator.tsx
  Client/src/components/navigator/ModuleNavigator.tsx
  Client/src/components/navigator/Navigator.tsx
  Client/src/components/navigator/OverviewNavigator.tsx
  Client/src/screens/overview/Overview.tsx
Due: prettier-format

added own component for textinputs
  Client/src/components/accountManagement/otpInput/OTPInput.tsx
  Client/src/components/textInputs/TextFieldInput.tsx
  Client/src/screens/accountManagement/forgotPassword/ForgotPassword.tsx
  Client/src/screens/accountManagement/forgotPassword/NewPassword.tsx
  Client/src/screens/accountManagement/login/Login.tsx
  Client/src/screens/accountManagement/registration/Registration.tsx
Due: prettier-format

removed unnecessary heading and updated python version
  README.md
Due: prettier-format

added default button
  Client/src/components/buttons/DefaultButton.tsx
  Client/src/screens/accountManagement/forgotPassword/ForgotPassword.tsx
Due: prettier-format

changed touchableopacity to pressable in almost every file
  Client/src/components/calendar/Event.tsx
  Client/src/components/menuPlan/DayView.tsx
  Client/src/components/menuPlan/DishView.tsx
  Client/src/components/selector/WeekSelector.tsx
  Client/src/components/textInputs/TextFieldInput.tsx
  Client/src/screens/accountManagement/forgotPassword/ForgotPassword.tsx
  Client/src/screens/accountManagement/forgotPassword/NewPassword.tsx
  Client/src/screens/accountManagement/forgotPassword/VerifyForgot.tsx
  Client/src/screens/accountManagement/login/Login.tsx
  Client/src/screens/accountManagement/registration/Registration.tsx
  Client/src/screens/accountManagement/registration/VerifyRegistration.tsx
  Client/src/screens/mealPlan/MealPlan.tsx
Due: prettier-format

added default textfields, changed everything to own components
  Client/src/components/buttons/DefaultButton.tsx
  Client/src/components/buttons/TextButton.tsx
  Client/src/components/switch/OptionSwitch.tsx
  Client/src/components/textFields/DefaultText.tsx
  Client/src/components/textFields/Heading.tsx
  Client/src/components/textFields/Subheading.tsx
  Client/src/components/textInputs/TextFieldInput.tsx
  Client/src/screens/accountManagement/forgotPassword/ForgotPassword.tsx
  Client/src/screens/accountManagement/forgotPassword/NewPassword.tsx
  Client/src/screens/accountManagement/forgotPassword/VerifyForgot.tsx
  Client/src/screens/accountManagement/login/Login.tsx
  Client/src/screens/accountManagement/login/VerifyLogin.tsx
  Client/src/screens/accountManagement/mfa/AddMfa.tsx
  Client/src/screens/accountManagement/mfa/VerifyMfa.tsx
  Client/src/screens/accountManagement/registration/Registration.tsx
  Client/src/screens/accountManagement/registration/VerifyRegistration.tsx
  Client/src/screens/credits/Credits.tsx
  Client/src/screens/dualis/Dualis.tsx
  Client/src/screens/imprint/Imprint.tsx
  Client/src/screens/loading/Loading.tsx
  Client/src/screens/overview/Overview.tsx
  Client/src/screens/profile/Profile.tsx
  Client/src/screens/responsibleDisclosure/ResponsibleDisclosure.tsx
Due: prettier-format

added content to the remaining account screens
  Client/package-lock.json
  Client/package.json
  Client/src/routes/HomeBottomTabs.tsx
  Client/src/routes/OverviewStack.tsx
  Client/src/screens/accountManagement/login/VerifyLogin.tsx
  Client/src/screens/accountManagement/mfa/AddMfa.tsx
  Client/src/screens/accountManagement/mfa/BackupMFA.tsx
  Client/src/screens/accountManagement/mfa/VerifyMfa.tsx
  Client/src/screens/accountManagement/registration/VerifyRegistration.tsx
  Client/src/screens/overview/Overview.tsx
Due: prettier-format

added CI/CD file
  gitlab-ci.yml
Due: prettier-format

changed file name
  .gitlab-ci.yml
Due: prettier-format

fixed android issue
  Client/app.json
  Client/package-lock.json
  Client/package.json
  Client/src/routes/OverviewStack.tsx
  Client/src/screens/dashboard/Dashboard.tsx
Due: prettier-format

split models in sql and pydantic models and updated imports
  Server/.DS_Store
  Server/controllers/auth.py
  Server/controllers/user.py
  Server/middleware/auth.py
  Server/middleware/general.py
  Server/middleware/ical.py
  Server/middleware/user.py
  Server/models/pydantic_schemas/s_auth.py
  Server/models/pydantic_schemas/s_general.py
  Server/models/pydantic_schemas/s_ical.py
  Server/models/pydantic_schemas/s_user.py
  Server/models/sql_models/m_canteen.py
  Server/models/sql_models/m_general.py
  Server/models/sql_models/m_ical.py
  Server/models/sql_models/m_user.py
  Server/routes/auth.py
  Server/routes/user.py
Due: black-format

added settings page with simple radiooption switch for theme
  Client/src/components/navigator/OverviewNavigator.tsx
  Client/src/routes/OverviewStack.tsx
  Client/src/screens/dashboard/Dashboard.tsx
  Client/src/screens/settings/Settings.tsx
Due: prettier-format

Added EMail-Templates
  Server/data/email/mail_2fa/activate/mail_activate_2fa.html
  Server/data/email/mail_2fa/activate/mail_activate_2fa.json
  Server/data/email/mail_2fa/deactivate/mail_deactivate_2fa.html
  Server/data/email/mail_2fa/deactivate/mail_deactivate_2fa.json
  Server/data/email/mail_forgot_password/email_forgot_password.json
  Server/data/email/mail_forgot_password/mail_forgot_password.html
  Server/data/email/mail_locked/permanent/mail_permanent_locked.html
  Server/data/email/mail_locked/permanent/mail_permanent_locked.json
  Server/data/email/mail_locked/temporary/mail_temporary_locked.html
  Server/data/email/mail_locked/temporary/mail_temporary_locked.json
  Server/data/email/mail_verify/first/mail_verify_first.html
  Server/data/email/mail_verify/first/mail_verify_first.json
  Server/data/email/mail_verify/locked/mail_verify_locked.html
  Server/data/email/mail_verify/locked/mail_verify_locked.json
  Server/data/email_templates/mail_activate_2fa.html
  Server/data/email_templates/mail_deactivate_2fa.html
  Server/data/email_templates/mail_forgot_password.html
  Server/data/email_templates/mail_permanent_locked.html
  Server/data/email_templates/mail_temporary_locked.html
  Server/data/email_templates/mail_verify_first.html
  Server/data/email_templates/mail_verify_locked.html
Due: prettier-format

Add LICENSE
  LICENSE
Due: none

Added iCal to Database
  Server/main.py
  Server/middleware/auth.py
  Server/middleware/ical.py
  Server/models/m_ical.py
  Server/utils/ical/general.py
  Server/utils/ical/ical_dhbw_mannheim.py
  Server/utils/ical/nativ_sources.py
  Server/utils/ical/schemas.py
Due: black-format

changed some package versions and added simple theme change button
  Client/app.json
  Client/package-lock.json
  Client/package.json
  Client/src/screens/dashboard/Dashboard.tsx
Due: prettier-format

Bug fixes and minor EMail-Design changes
  Server/data/email/mail_verify/first/mail_verify_first.html
  Server/data/email/mail_verify/first/mail_verify_first.json
  Server/data/email_templates/mail_forgot_password.html
  Server/data/email_templates/mail_verify_first.html
  Server/middleware/general.py
Due: black-format, prettier-format

Add create_address function to general.py and update canteen ID in canteen_stw_ma.py
  Server/middleware/general.py
  Server/utils/canteen/canteen_stw_ma.py
Due: black-format

Add async support for database operations and create canteens on startup
  Server/main.py
  Server/middleware/canteen.py
  Server/middleware/database.py
  Server/middleware/general.py
  Server/models/sql_models/m_canteen.py
  Server/requirements.txt
  Server/utils/canteen/canteen_adresses.json
  Server/utils/canteen/canteen_stw_ma.py
Due: black-format, prettier-format

Refactor create_user function to use create_address helper function
  Server/controllers/user.py
Due: black-format

Refactor import statements in main.py
  Server/main.py
  Server/models/pydantic_schemas/__init__.py
  Server/models/sql_models/__init__.py
Due: black-format

Update file README.md
  README.md
Due: prettier-format

Recreated Frontend with Nativewind v4 -Now working dark mode
  Client/App.tsx
  Client/app.json
  Client/babel.config.js
  Client/global.css
  Client/global.d.ts
  Client/metro.config.js
  Client/package-lock.json
  Client/package.json
  Client/src/App.tsx
  Client/src/components/navigator/ModuleNavigator.tsx
  Client/src/components/navigator/OverviewNavigator.tsx
  Client/src/screens/dashboard/Dashboard.tsx
  Client/src/screens/dualis/Dualis.tsx
  Client/src/screens/flashcards/Flashcards.tsx
  Client/src/screens/loading/Loading.tsx
  Client/src/screens/mealPlan/MealPlan.tsx
  Client/src/screens/overview/Overview.tsx
  Client/tailwind.config.js
Due: prettier-format

Add Canteen API GET and Pydantic Schemas
  Server/main.py
  Server/models/pydantic_schemas/s_canteen.py
  Server/models/sql_models/m_canteen.py
  Server/models/sql_models/m_general.py
  Server/routes/canteen.py
Due: black-format

creation of canteen menu to database (added to on-startup function)
  Server/main.py
  Server/middleware/canteen.py
  Server/middleware/general.py
  Server/models/sql_models/m_canteen.py
  Server/utils/canteen/canteen_stw_ma.py
Due: black-format

added new icon color and fixed tailwind version bug
  Client/package-lock.json
  Client/package.json
  Client/src/routes/HomeBottomTabs.tsx
Due: prettier-format

Add canteen functionality and models
  Server/middleware/canteen.py
  Server/models/m_canteen.py
Due: black-format

Path conditions:
  black-format: any of: **/*.py
  prettier-format: any of: **/*.{js,jsx,ts,tsx,json,css,scss,md,yml}
