Repository Leonidas-maker/TheStudentMaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black-format, prettier-format

.gitlab-ci.yml:

stages:
  - format
  - test

black-format:
  stage: format
  image: python:3.12
  script:
    - pip install black
    - black --line-length 120 --target-version py312 .
    - |
      if [ -n "$(git status --porcelain)" ]; then
        mkdir -p ~/.ssh
        echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
        echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        git config user.name "GitLab CI/CD"
        git config user.email "gitlab-ci@example.com"
        git add .
        git commit -m "Format code using Black"
        git push git@gitlab.com:themastercollection/thestudentmaster.git HEAD:$CI_COMMIT_REF_NAME
      else
        echo "No changes to commit. Code is already formatted correctly."
      fi
  rules:
    - changes:
        - "**/*.py"

prettier-format:
  stage: format
  image: node:lts
  script:
    - npm install --global prettier
    - prettier
      "!.gitlab-ci.yml"
      --write
      "**/*.{js,jsx,ts,tsx,json,css,scss,md,yml}"
    - |
      if [ -n "$(git status --porcelain)" ]; then
        mkdir -p ~/.ssh
        echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
        echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        git config user.name "GitLab CI/CD"
        git config user.email "gitlab-ci@example.com"
        git add .
        git commit -m "Format code using Prettier"
        git push git@gitlab.com:themastercollection/thestudentmaster.git HEAD:$CI_COMMIT_REF_NAME
      else
        echo "No changes to commit. Code is already formatted correctly."
      fi
  rules:
    - changes:
        - "**/*.{js,jsx,ts,tsx,json,css,scss,md,yml}"

black:
  stage: test
  image: python:3.12
  script:
    - pip install black
    - black --check --line-length 120 .

prettier:
  stage: test
  image: node:lts
  script:
    - npm install --global prettier
    - prettier
      "!.gitlab-ci.yml"
      --check
      "**/*.{js,jsx,ts,tsx,json,css,scss,md,yml}"

Format code using Black
  Scheduler/models/m_calendar.py
  Server/models/sql_models/m_calendar.py
  Server/routes/calendar.py
Due: black-format

Refactor canteen scraper and update utils documentation
  Scheduler/requirements.in
  Scheduler/schemes/s_canteen.py
  Scheduler/utils/calendar/calendar_wrapper.py
  Scheduler/utils/calendar/dhbw_app_fetcher.py
  Scheduler/utils/calendar/nativ_sources.py
  Scheduler/utils/canteen/canteen_scraperv2.py
  Scheduler/utils/helpers/hashing.py
Due: black-format

Format code using Black
  Scheduler/schemes/s_canteen.py
Due: black-format

changed build number
  Client/app.json
Due: prettier-format

Fix calendar bugs and remove unnecessary useStates in Dualis components
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/screens/dualis/Dualis.tsx
  Client/src/screens/dualis/DualisLoad.tsx
  Client/src/screens/settings/Settings.tsx
  Client/src/services/calendarService.ts
  Client/src/services/eventService.ts
Due: prettier-format

Format code using Prettier
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/screens/dualis/DualisLoad.tsx
  Client/src/screens/settings/Settings.tsx
  Client/src/services/calendarService.ts
  Client/src/services/eventService.ts
Due: prettier-format

Bug fixes - Combobox calendar settings missing - Dualis load
  Client/src/interfaces/dualisInterfaces.ts
  Client/src/scraper/dualis/ectsScraper.tsx
  Client/src/scraper/dualis/gpaScraper.tsx
  Client/src/scraper/dualis/gradeScraper.tsx
  Client/src/scraper/dualis/performanceOverviewScraper.tsx
  Client/src/scraper/dualis/semesterScraper.tsx
  Client/src/screens/dualis/Dualis.tsx
  Client/src/screens/dualis/DualisLoad.tsx
  Client/src/screens/settings/Settings.tsx
  Client/src/services/dualis/navigationService.ts
Due: prettier-format

Format code using Prettier
  Client/src/scraper/dualis/ectsScraper.tsx
  Client/src/scraper/dualis/gpaScraper.tsx
  Client/src/scraper/dualis/gradeScraper.tsx
  Client/src/scraper/dualis/performanceOverviewScraper.tsx
  Client/src/scraper/dualis/semesterScraper.tsx
  Client/src/screens/dualis/Dualis.tsx
  Client/src/screens/dualis/DualisLoad.tsx
  Client/src/screens/settings/Settings.tsx
  Client/src/services/dualis/navigationService.ts
Due: prettier-format

fixed bug for dualis performanceoverview, icon colors
  Client/app.json
  Client/package.json
  Client/src/screens/dualis/Dualis.tsx
  Client/src/screens/dualis/DualisLoad.tsx
  Client/src/screens/dualis/DualisLogin.tsx
  Client/src/screens/licenses/licenses.json
Due: prettier-format

Format code using Prettier
  Client/app.json
  Client/src/screens/dualis/Dualis.tsx
  Client/src/screens/licenses/licenses.json
Due: prettier-format

Fixed calendar refresh failed caused by inconsistent API responses from dhbw.app
  Scheduler/.dockerignore
  Scheduler/modules/calendar.py
  Scheduler/utils/calendar/dhbw_app_fetcher.py
  Server/main.py
Due: black-format

Format code using Black
  Scheduler/utils/calendar/dhbw_app_fetcher.py
  Server/main.py
Due: black-format

bugfix passed is now set to false correctly
  Client/src/scraper/dualis/gradeScraper.tsx
Due: prettier-format

- first draft of new mensa plan db model - first steps of the new scraper - added test data for mensa scraper
  Scheduler/data/mensa_dhbwapp_all.json
  Scheduler/models/m_mensa.py
  Scheduler/utils/canteen/mensa_scraper.py
Due: black-format, prettier-format

Format code using Prettier
  Scheduler/data/mensa_dhbwapp_all.json
Due: prettier-format

bug fixes and more improvements to dualis
  Client/app.json
  Client/package-lock.json
  Client/package.json
  Client/public/logo/splash.png
  Client/public/logo/splash_old.png
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/components/menuPlan/MenuPlan.tsx
  Client/src/components/message/ConnectionMessage.tsx
  Client/src/components/switch/OptionSwitch.tsx
  Client/src/screens/dualis/DualisLoad.tsx
  Client/src/screens/dualis/DualisLogin.tsx
  Client/src/screens/licenses/licenses.json
  Client/src/services/canteenService.ts
  Client/src/services/dualis/loginService.ts
Due: prettier-format

Format code using Prettier
  Client/app.json
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/components/message/ConnectionMessage.tsx
  Client/src/screens/dualis/DualisLoad.tsx
  Client/src/screens/licenses/licenses.json
Due: prettier-format

fixed theme bug
  Client/package-lock.json
  Client/package.json
  Client/src/provider/ThemeProvider.tsx
  Client/src/screens/settings/Settings.tsx
Due: prettier-format

Format code using Prettier
  Client/src/provider/ThemeProvider.tsx
Due: prettier-format

Refactor parse_mensa_data to return structured data instead of None
  Scheduler/utils/canteen/mensa_scraper.py
Due: black-format

Refactor parse_mensa_data to return a list of tuples containing mensa info and menus
  Scheduler/utils/canteen/mensa_scraper.py
Due: black-format

Fixed bug: duplicate entrys in calendar_native_session_room table
  Scheduler/models/m_calendar.py
  Scheduler/modules/calendar.py
Due: black-format

Format code using Black
  Scheduler/modules/calendar.py
Due: black-format

Rename canteen references to mensa in models and update related methods for consistency
  Scheduler/models/m_mensa.py
  Scheduler/modules/mensa.py
  Scheduler/utils/canteen/mensa_scraper.py
Due: black-format

Rename canteen-related classes and relationships to mensa for consistency
  .gitignore
  Scheduler/models/m_canteen.py
  Scheduler/models/m_mensa.py
  Scheduler/modules/canteen.py
  Scheduler/modules/mensa.py
Due: black-format

Format code using Black
  Scheduler/models/m_mensa.py
  Scheduler/modules/mensa.py
  Scheduler/utils/canteen/mensa_scraper.py
Due: black-format

Update dependencies and configuration files
  .gitignore
  Client/package.json
  Server/config/database.py
  Server/main.py
  Server/requirements.txt
Due: black-format, prettier-format

Configure SAST in `.gitlab-ci.yml`, creating this file if it does not already exist
  .gitlab-ci.yml
Due: prettier-format

bump version to sdk53
  Client/app.json
  Client/package-lock.json
  Client/package.json
  Client/src/app/index.tsx
Due: prettier-format

added new scraper
  .gitignore
  Scheduler/data/canteen_addresses.json
  Server/middleware/canteen.py
  Server/utils/canteen/canteen_dhbwapp.py
Due: black-format, prettier-format

Format code using Prettier
  Scheduler/data/canteen_addresses.json
Due: prettier-format

Format code using Prettier
  Client/app.json
  Client/babel.config.js
  Client/metro.config.js
  Client/src/app/(tabs)/Dashboard.tsx
  Client/src/app/(tabs)/_layout.tsx
  Client/src/app/_layout.tsx
  Client/src/provider/ThemeProvider.tsx
  Client/tsconfig.json
Due: prettier-format

Bumped up all versions
  Client/metro.config.js
  Client/package-lock.json
  Client/package.json
  Client/src/app/(tabs)/Dashboard.tsx
  Client/src/app/_layout.tsx
  Client/tsconfig.json
  Client/yarn.lock
Due: prettier-format

Format code using Prettier
  Client/metro.config.js
  Client/src/app/(tabs)/Dashboard.tsx
  Client/src/app/_layout.tsx
  Client/tsconfig.json
Due: prettier-format

added new version of scraper that uses the dhbw.app api to put the data into the database
  .gitignore
  Scheduler/modules/canteen.py
  Scheduler/utils/canteen/canteen_scraperv3.py
Due: black-format

adapting to expo-router, new logo
  Client/public/json/licenses.json
  Client/public/logo/TheStudentMaster.png
  Client/public/logo/splash.png
  Client/public/logo/splash_old.png
  Client/public/logo/splash_old_old.png
  Client/src/app/(tabs)/_layout.tsx
  Client/src/app/(tabs)/dualis/(dualisViews)/Dualis.tsx
  Client/src/app/(tabs)/dualis/(dualisViews)/DualisLoad.tsx
  Client/src/app/(tabs)/dualis/_layout.tsx
  Client/src/app/(tabs)/dualis/index.tsx
  Client/src/app/(tabs)/index.tsx
  Client/src/app/(tabs)/meal/_layout.tsx
  Client/src/app/(tabs)/meal/index.tsx
  Client/src/app/(tabs)/overview/(misc)/Imprint.tsx
  Client/src/app/(tabs)/overview/(misc)/Licenses.tsx
  Client/src/app/(tabs)/overview/(settings)/Settings.tsx
  Client/src/app/(tabs)/overview/(support)/BugReport.tsx
  Client/src/app/(tabs)/overview/(support)/ResponsibleDisclosure.tsx
  Client/src/app/(tabs)/overview/(support)/Support.tsx
  Client/src/app/(tabs)/overview/_layout.tsx
  Client/src/app/(tabs)/overview/index.tsx
  Client/src/provider/ThemeProvider.tsx
  Client/src/screens_old/dualis/Dualis.tsx
  Client/src/screens_old/dualis/DualisLoad.tsx
  Client/src/screens_old/dualis/DualisLogin.tsx
  Client/src/screens_old/mealPlan/MealPlan.tsx
Due: prettier-format

Format code using Prettier
  Client/src/app/(tabs)/dualis/(dualisViews)/Dualis.tsx
  Client/src/app/(tabs)/meal/_layout.tsx
  Client/src/provider/ThemeProvider.tsx
Due: prettier-format
