Repository Leonidas-maker/TheStudentMaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black-format, prettier-format

black-format:
  stage: format
  image: python:3.12
  script:
  - pip install black
  - black --line-length 120 --target-version py312 .
  ...

prettier-format:
  stage: format
  image: node:lts
  script:
  - npm install --global prettier
  - prettier "!.gitlab-ci.yml" --write "**/*.{js,jsx,ts,tsx,json,css,scss,md,yml}"
  ...

Added basic email functionality
  Client/package-lock.json
  Client/package.json
  Client/src/components/drawer/SearchTimeHeader.tsx
  Client/src/components/email/EmailDetails.tsx
  Client/src/components/email/EmailItem.tsx
  Client/src/components/email/EmailList.tsx
  Client/src/components/email/FolderList.tsx
  Client/src/components/textInputs/TextFieldInput2.tsx
  Client/src/components/toasts/SaveToast.tsx
  Client/src/components/toasts/UpdateToast.tsx
  Client/src/interfaces/email.ts
  Client/src/routes/HomeBottomTabs.tsx
  Client/src/screens/email/Email.tsx
  Client/src/screens/email/EmailDetails.tsx
  Client/src/screens/email/EmailDrawer copy.tsx
  Client/src/screens/email/EmailDrawer.tsx
  Client/src/screens/settings/Settings.tsx
  Client/src/services/asyncStorageHelper.ts
  Client/src/services/emailService.ts
  Client/src/services/secureStorageHelper.ts
  Client/src/types/emailScreenTypes.ts
  Server/controllers/calendar.py
  Server/controllers/email.py
  Server/main.py
  Server/middleware/email.py
  Server/models/pydantic_schemas/s_email.py
  Server/routes/email.py
Due: black-format, prettier-format

Format code using Black
  Server/controllers/email.py
  Server/main.py
  Server/models/pydantic_schemas/s_email.py
  Server/routes/email.py
Due: black-format

Fix bug
  Client/src/components/email/EmailDetails.tsx
  Client/src/interfaces/email.ts
  Client/src/screens/email/EmailDrawer copy.tsx
  Client/src/screens/email/EmailDrawer.tsx
Due: prettier-format

Format code using Prettier
  Client/src/components/drawer/SearchTimeHeader.tsx
  Client/src/components/email/EmailDetails.tsx
  Client/src/components/email/EmailItem.tsx
  Client/src/components/email/EmailList.tsx
  Client/src/components/textInputs/TextFieldInput2.tsx
  Client/src/interfaces/email.ts
  Client/src/screens/email/Email.tsx
  Client/src/screens/email/EmailDetails.tsx
  Client/src/screens/email/EmailDrawer.tsx
  Client/src/screens/settings/Settings.tsx
  Client/src/services/asyncStorageHelper.ts
  Client/src/services/emailService.ts
  Client/src/services/secureStorageHelper.ts
  Client/src/types/emailScreenTypes.ts
Due: prettier-format

fixed bug #119
  Client/src/components/calendar/WeekCalendar.tsx
Due: prettier-format

Format code using Prettier
  Client/src/components/calendar/WeekCalendar.tsx
Due: prettier-format

added function to save credentials on device, updated expo version
  Client/package-lock.json
  Client/package.json
  Client/src/components/switch/OptionSwitch.tsx
  Client/src/scraper/dualis/performanceOverviewScraper.tsx
  Client/src/screens/dualis/Dualis.tsx
Due: prettier-format

Format code using Prettier
  Client/src/scraper/dualis/performanceOverviewScraper.tsx
  Client/src/screens/dualis/Dualis.tsx
Due: prettier-format

Refactor email save structure and implement dynamic tag-based email removal - New save structure for emails - Dynamic email removal based on tags (unseen, marked) - Bug fixes in IMAP backend endpoint
  Client/src/components/drawer/SearchTimeHeader.tsx
  Client/src/components/email/EmailDetails.tsx
  Client/src/components/email/EmailList.tsx
  Client/src/interfaces/email.ts
  Client/src/screens/email/EmailDetails.tsx
  Client/src/screens/email/EmailDrawer.tsx
  Client/src/services/emailService.ts
  Client/src/types/emailScreenTypes.ts
  Server/controllers/email.py
Due: black-format, prettier-format

Format code using Prettier
  Client/src/components/drawer/SearchTimeHeader.tsx
  Client/src/components/email/EmailDetails.tsx
  Client/src/components/email/EmailList.tsx
  Client/src/interfaces/email.ts
  Client/src/screens/email/EmailDrawer.tsx
  Client/src/services/emailService.ts
Due: prettier-format

Performance optimized
  Client/package-lock.json
  Client/package.json
  Client/src/screens/email/EmailDrawer.tsx
  Client/src/services/emailService.ts
  Server/controllers/email.py
Due: black-format, prettier-format

Format code using Black
  Server/controllers/email.py
Due: black-format

Format code using Prettier
  Client/src/services/emailService.ts
Due: prettier-format

Refactor calendar wrapper, database models and added dhbw.app integration
  Server/data/address_lists/ger_univercity.json
  Server/main.py
  Server/middleware/calendar.py
  Server/models/sql_models/m_calendar.py
  Server/test/test_calendar_wrapper.py
  Server/utils/calendar/calendar_wrapper.py
  Server/utils/calendar/dhbw_app_fetcher.py
  Server/utils/calendar/nativ_sources.py
  Server/utils/scheduler/task_scheduler.py
Due: black-format, prettier-format

Format code using Black
  Server/middleware/calendar.py
Due: black-format

Bug fixes
  Server/middleware/calendar.py
  Server/utils/calendar/calendar_wrapper.py
  Server/utils/calendar/dhbw_app_fetcher.py
  Server/utils/calendar/schemes.py
  Server/utils/helpers/hashing.py
Due: black-format

Format code using Black
  Server/middleware/calendar.py
  Server/utils/calendar/calendar_wrapper.py
  Server/utils/calendar/dhbw_app_fetcher.py
  Server/utils/calendar/schemes.py
Due: black-format

added scraper for semester
  Client/src/components/selector/secureStorageManager.tsx
  Client/src/components/storageManager/asyncStorageManager.tsx
  Client/src/components/storageManager/secureStorageManager.tsx
  Client/src/interfaces/dualisInterfaces.ts
  Client/src/scraper/dualis/ectsScraper.tsx
  Client/src/scraper/dualis/gpaScraper.tsx
  Client/src/scraper/dualis/performanceOverviewScraper.tsx
  Client/src/scraper/dualis/semesterScraper.tsx
  Client/src/screens/dualis/Dualis.tsx
Due: prettier-format

Format code using Prettier
  Client/src/components/storageManager/asyncStorageManager.tsx
  Client/src/components/storageManager/secureStorageManager.tsx
  Client/src/interfaces/dualisInterfaces.ts
  Client/src/scraper/dualis/ectsScraper.tsx
  Client/src/scraper/dualis/gpaScraper.tsx
  Client/src/scraper/dualis/semesterScraper.tsx
  Client/src/screens/dualis/Dualis.tsx
Due: prettier-format

added navigate through exam results and filter url to get exam info
  Client/src/interfaces/dualisInterfaces.ts
  Client/src/scraper/dualis/gradeScraper.tsx
  Client/src/screens/dualis/Dualis.tsx
Due: prettier-format

Format code using Prettier
  Client/src/scraper/dualis/gradeScraper.tsx
  Client/src/screens/dualis/Dualis.tsx
Due: prettier-format

Refactor canteen middleware to include menu cleanup
  Server/main.py
  Server/middleware/canteen.py
Due: black-format

Format code using Black
  Server/main.py
  Server/middleware/canteen.py
Due: black-format

+ changed the urls for canteen + fixed issue with url construction + added handling for days without canteen offerings
  Server/utils/canteen/canteen_scraper.py
Due: black-format

Format code using Black
  Server/utils/canteen/canteen_scraper.py
Due: black-format

Refactored calendar DB schema and added Docker configuration for stack setup
  Server/Dockerfile
  Server/__init__.py
  Server/app_description.md
  Server/compose.yaml
  Server/config/database.py
  Server/config/db_certs.py
  Server/config/general.py
  Server/controllers/calendar.py
  Server/data/public/favicon.ico
  Server/main.py
  Server/middleware/auth.py
  Server/middleware/calendar.py
  Server/middleware/general.py
  Server/models/__init__.py
  Server/models/pydantic_schemas/s_calendar.py
  Server/models/sql_models/m_calendar.py
  Server/models/sql_models/m_general.py
  Server/requirements.in
  Server/requirements.txt
  Server/routes/calendar.py
  Server/routes/static.py
  Server/utils/calendar/dhbw_app_fetcher.py
  Server/utils/calendar/schemes.py
  Server/utils/scheduler/task_scheduler.py
Due: black-format, prettier-format

Format code using Black
  Server/config/database.py
  Server/config/db_certs.py
  Server/config/general.py
  Server/controllers/calendar.py
  Server/main.py
  Server/middleware/auth.py
  Server/middleware/calendar.py
  Server/middleware/general.py
  Server/models/pydantic_schemas/s_calendar.py
  Server/models/sql_models/m_calendar.py
  Server/routes/static.py
  Server/utils/calendar/dhbw_app_fetcher.py
  Server/utils/scheduler/task_scheduler.py
Due: black-format

Refactor canteen middleware to update menu items if changed
  Server/middleware/canteen.py
Due: black-format

fixed a bug and finalized gradeScraper, added navigateThroughGradeDetails function
  Client/src/interfaces/dualisInterfaces.ts
  Client/src/scraper/dualis/detailGradeScraper.tsx
  Client/src/scraper/dualis/gradeScraper.tsx
  Client/src/screens/dualis/Dualis.tsx
Due: prettier-format

Format code using Prettier
  Client/src/interfaces/dualisInterfaces.ts
  Client/src/scraper/dualis/detailGradeScraper.tsx
  Client/src/scraper/dualis/gradeScraper.tsx
  Client/src/screens/dualis/Dualis.tsx
Due: prettier-format

Resolve "Duplicate canteen-menu-type entries"
  Server/main.py
  Server/middleware/canteen.py
  Server/utils/canteen/canteen_scraper.py
Due: black-format

added scraper for detailGrade info
  Client/src/interfaces/dualisInterfaces.ts
  Client/src/scraper/dualis/detailGradeScraper.tsx
  Client/src/scraper/dualis/gradeScraper.tsx
  Client/src/screens/dualis/Dualis.tsx
Due: prettier-format

Format code using Prettier
  Client/src/scraper/dualis/detailGradeScraper.tsx
  Client/src/scraper/dualis/gradeScraper.tsx
  Client/src/screens/dualis/Dualis.tsx
Due: prettier-format

changed version, added first draft service files, changed styling a bit
  Client/app.json
  Client/package.json
  Client/src/routes/HomeBottomTabs.tsx
  Client/src/screens/dualis/Dualis.tsx
  Client/src/screens/licenses/licenses.json
  Client/src/services/dualis/loginService.ts
  Client/src/services/dualis/navigationService.ts
Due: prettier-format

Format code using Prettier
  Client/app.json
  Client/src/screens/dualis/Dualis.tsx
  Client/src/screens/licenses/licenses.json
  Client/src/services/dualis/loginService.ts
  Client/src/services/dualis/navigationService.ts
Due: prettier-format

New Docker setup for backend
  Server/.dockerignore
  Server/Dockerfile
  Server/compose.yaml
  Server/config/database.py
  Server/config/db_certs.py
  Server/docker/compose.yaml
  Server/docker/init-users.sql
  Server/docker/init.sh
  Server/docker/mariadb_custom.cnf
  Server/main.py
  Server/middleware/auth.py
  Server/test/test_calendar_wrapper.py
Due: black-format

Format code using Black
  Server/config/database.py
Due: black-format

Refactor code to call functions from different files
  Client/src/scraper/dualis/semesterScraper.tsx
  Client/src/screens/dualis/Dualis.tsx
  Client/src/services/dualis/loginService.ts
  Client/src/services/dualis/navigationService.ts
Due: prettier-format

Format code using Prettier
  Client/src/scraper/dualis/semesterScraper.tsx
  Client/src/screens/dualis/Dualis.tsx
  Client/src/services/dualis/loginService.ts
  Client/src/services/dualis/navigationService.ts
Due: prettier-format

Refactor Dualis component and loginService
  Client/src/screens/dualis/Dualis.tsx
  Client/src/services/dualis/loginService.ts
Due: prettier-format

Path conditions:
  black-format: any of: **/*.py
  prettier-format: any of: **/*.{js,jsx,ts,tsx,json,css,scss,md,yml}
