Repository Leonidas-maker/TheStudentMaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black-format, prettier-format

black-format:
  stage: format
  image: python:3.12
  script:
  - pip install black
  - black --line-length 120 --target-version py312 .
  ...

prettier-format:
  stage: format
  image: node:lts
  script:
  - npm install --global prettier
  - prettier "!.gitlab-ci.yml" --write "**/*.{js,jsx,ts,tsx,json,css,scss,md,yml}"
  ...

add custom_logger, axios fix, navigation fix, course remove bug fix
  Client/.gitignore
  Client/package.json
  Client/src/app/(calendar)/CalendarCourseSettings.tsx
  Client/src/app/(tabs)/_layout.tsx
  Client/src/app/(tabs)/dualis/(dualisViews)/Dualis.tsx
  Client/src/app/(tabs)/dualis/(dualisViews)/DualisLoad.tsx
  Client/src/app/(tabs)/dualis/index.tsx
  Client/src/app/(tabs)/overview/(settings)/Settings.tsx
  Client/src/app/(tabs)/overview/index.tsx
  Client/src/app/_layout.tsx
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/custom_logger/customConsole.d.ts
  Client/src/custom_logger/custom_logger.ts
  Client/src/services/api.ts
  Client/src/services/applyInterceptor.ts
  Client/src/services/calendarService.ts
  Client/src/services/canteenService.ts
  Client/src/services/eventService.ts
  Client/yarn.lock
Due: prettier-format

Format code using Prettier
  Client/src/app/(calendar)/CalendarCourseSettings.tsx
  Client/src/app/(tabs)/dualis/(dualisViews)/Dualis.tsx
  Client/src/app/(tabs)/dualis/(dualisViews)/DualisLoad.tsx
  Client/src/app/(tabs)/overview/(settings)/Settings.tsx
  Client/src/app/(tabs)/overview/index.tsx
  Client/src/app/_layout.tsx
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/custom_logger/customConsole.d.ts
  Client/src/custom_logger/custom_logger.ts
  Client/src/services/applyInterceptor.ts
  Client/src/services/canteenService.ts
  Client/src/services/eventService.ts
Due: prettier-format

add locals, improve settings, improve calendar, changed readme
  Client/app.json
  Client/package.json
  Client/public/json/licenses.json
  Client/src/app/(calendar)/CalendarCourseSettings.tsx
  Client/src/app/(tabs)/overview/(settings)/CourseSettings.tsx
  Client/src/app/(tabs)/overview/(settings)/LanguageSettings.tsx
  Client/src/app/(tabs)/overview/(settings)/Settings.tsx
  Client/src/app/(tabs)/overview/(settings)/ThemeSettings.tsx
  Client/src/app/(tabs)/overview/_layout.tsx
  Client/src/app/(tabs)/overview/index.tsx
  Client/src/app/_layout.tsx
  Client/src/components/calendar/Days.tsx
  Client/src/components/calendar/Event.tsx
  Client/src/components/menuPlan/DishView.tsx
  Client/src/components/optionSelector/OptionSelector.tsx
  Client/src/interfaces/calendarInterfaces.ts
  Client/src/interfaces/componentInterfaces.ts
  Client/src/locales/de/calendar.json
  Client/src/locales/de/dualis.json
  Client/src/locales/de/meal.json
  Client/src/locales/de/overview.json
  Client/src/locales/de/router.json
  Client/src/locales/de/settings.json
  Client/src/locales/en/calendar.json
  Client/src/locales/en/dualis.json
  Client/src/locales/en/meal.json
  Client/src/locales/en/overview.json
  Client/src/locales/en/router.json
  Client/src/locales/en/settings.json
  Client/src/locales/i18n.ts
  Client/src/translations/translationConfig.ts
  README.md
Due: prettier-format

Format code using Prettier
  Client/app.json
  Client/public/json/licenses.json
  Client/src/app/(tabs)/overview/(settings)/CourseSettings.tsx
  Client/src/app/(tabs)/overview/(settings)/LanguageSettings.tsx
  Client/src/app/(tabs)/overview/(settings)/Settings.tsx
  Client/src/app/(tabs)/overview/(settings)/ThemeSettings.tsx
  Client/src/app/(tabs)/overview/_layout.tsx
  Client/src/components/calendar/Days.tsx
  Client/src/components/calendar/Event.tsx
  Client/src/components/optionSelector/OptionSelector.tsx
  Client/src/interfaces/componentInterfaces.ts
  Client/src/locales/de/calendar.json
  Client/src/locales/de/dualis.json
  Client/src/locales/de/meal.json
  Client/src/locales/de/overview.json
  Client/src/locales/de/router.json
  Client/src/locales/de/settings.json
  Client/src/locales/en/calendar.json
  Client/src/locales/en/dualis.json
  Client/src/locales/en/meal.json
  Client/src/locales/en/overview.json
  Client/src/locales/en/router.json
  Client/src/locales/en/settings.json
  Client/src/locales/i18n.ts
Due: prettier-format

added german and english translation
  Client/src/app/(tabs)/_layout.tsx
  Client/src/app/(tabs)/dualis/(dualisViews)/Dualis.tsx
  Client/src/app/(tabs)/dualis/(dualisViews)/DualisLoad.tsx
  Client/src/app/(tabs)/dualis/index.tsx
  Client/src/app/(tabs)/overview/(misc)/Imprint.tsx
  Client/src/app/(tabs)/overview/(misc)/Licenses.tsx
  Client/src/app/(tabs)/overview/(settings)/CourseSettings.tsx
  Client/src/app/(tabs)/overview/(support)/BugReport.tsx
  Client/src/app/(tabs)/overview/(support)/ResponsibleDisclosure.tsx
  Client/src/app/(tabs)/overview/(support)/Support.tsx
  Client/src/app/(tabs)/overview/_layout.tsx
  Client/src/app/(tabs)/overview/index.tsx
  Client/src/app/_layout.tsx
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/components/dropdown/Dropdown.tsx
  Client/src/components/menuPlan/DayView.tsx
  Client/src/components/menuPlan/DishView.tsx
  Client/src/components/menuPlan/MenuPlan.tsx
  Client/src/components/selector/WeekSelector.tsx
  Client/src/components/switch/OptionSwitch.tsx
  Client/src/locales/de/calendar.json
  Client/src/locales/de/components.json
  Client/src/locales/de/dualis.json
  Client/src/locales/de/meal.json
  Client/src/locales/de/overview.json
  Client/src/locales/de/router.json
  Client/src/locales/de/settings.json
  Client/src/locales/en/calendar.json
  Client/src/locales/en/components.json
  Client/src/locales/en/dualis.json
  Client/src/locales/en/meal.json
  Client/src/locales/en/overview.json
  Client/src/locales/en/router.json
  Client/src/locales/en/settings.json
  Client/src/locales/i18n.ts
  Client/src/services/dualis/loginService.ts
  Client/src/services/dualis/navigationService.ts
Due: prettier-format

Format code using Prettier
  Client/src/app/(tabs)/dualis/(dualisViews)/Dualis.tsx
  Client/src/app/(tabs)/dualis/(dualisViews)/DualisLoad.tsx
  Client/src/app/(tabs)/dualis/index.tsx
  Client/src/app/(tabs)/overview/(settings)/CourseSettings.tsx
  Client/src/components/dropdown/Dropdown.tsx
  Client/src/locales/de/calendar.json
  Client/src/locales/de/components.json
  Client/src/locales/de/dualis.json
  Client/src/locales/de/meal.json
  Client/src/locales/de/overview.json
  Client/src/locales/de/router.json
  Client/src/locales/de/settings.json
  Client/src/locales/en/calendar.json
  Client/src/locales/en/components.json
  Client/src/locales/en/dualis.json
  Client/src/locales/en/meal.json
  Client/src/locales/en/overview.json
  Client/src/locales/en/router.json
  Client/src/locales/en/settings.json
  Client/src/locales/i18n.ts
  Client/src/services/dualis/loginService.ts
  Client/src/services/dualis/navigationService.ts
Due: prettier-format

add new event detail screen
  Client/src/app/(calendar)/CourseInfo.tsx
  Client/src/app/_layout.tsx
  Client/src/components/calendar/Event.tsx
  Client/src/interfaces/calendarInterfaces.ts
  Client/src/locales/de/calendar.json
  Client/src/locales/de/router.json
  Client/src/locales/en/calendar.json
  Client/src/locales/en/router.json
Due: prettier-format

Format code using Prettier
  Client/src/app/(calendar)/CourseInfo.tsx
  Client/src/components/calendar/Event.tsx
Due: prettier-format

add free room search
  Client/package.json
  Client/src/app/(calendar)/CourseInfo.tsx
  Client/src/app/(tabs)/overview/(modules)/FreeRooms.tsx
  Client/src/app/(tabs)/overview/_layout.tsx
  Client/src/app/(tabs)/overview/index.tsx
  Client/src/components/picker/DateTimePicker.tsx
  Client/src/locales/de/freeRooms.json
  Client/src/locales/de/overview.json
  Client/src/locales/de/router.json
  Client/src/locales/en/freeRooms.json
  Client/src/locales/en/overview.json
  Client/src/locales/en/router.json
  Client/src/locales/i18n.ts
  Client/src/services/freeRooms/freeRoomsService.ts
Due: prettier-format

Format code using Prettier
  Client/src/app/(tabs)/overview/(modules)/FreeRooms.tsx
  Client/src/components/picker/DateTimePicker.tsx
  Client/src/locales/de/freeRooms.json
  Client/src/locales/en/freeRooms.json
  Client/src/services/freeRooms/freeRoomsService.ts
Due: prettier-format

fix translation
  Client/src/locales/de/freeRooms.json
  Client/src/locales/en/freeRooms.json
Due: prettier-format

add toast messages
  Client/src/app/(tabs)/dualis/index.tsx
  Client/src/app/(tabs)/overview/(modules)/FreeRooms.tsx
  Client/src/app/(tabs)/overview/(settings)/CourseSettings.tsx
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/components/defaultToast/DefaultToast.tsx
  Client/src/components/defaultToast/ToastStyles.ts
  Client/src/components/menuPlan/MenuPlan.tsx
  Client/src/locales/de/calendar.json
  Client/src/locales/de/dualis.json
  Client/src/locales/de/freeRooms.json
  Client/src/locales/de/meal.json
  Client/src/locales/de/settings.json
  Client/src/locales/en/calendar.json
  Client/src/locales/en/dualis.json
  Client/src/locales/en/freeRooms.json
  Client/src/locales/en/meal.json
  Client/src/locales/en/settings.json
  Client/src/services/canteenService.ts
  Client/src/services/dualis/navigationService.ts
  Client/src/services/freeRooms/freeRoomsService.ts
Due: prettier-format

Format code using Prettier
  Client/src/app/(tabs)/dualis/index.tsx
  Client/src/app/(tabs)/overview/(modules)/FreeRooms.tsx
  Client/src/app/(tabs)/overview/(settings)/CourseSettings.tsx
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/components/defaultToast/DefaultToast.tsx
  Client/src/components/defaultToast/ToastStyles.ts
  Client/src/components/menuPlan/MenuPlan.tsx
  Client/src/locales/en/meal.json
  Client/src/services/dualis/navigationService.ts
  Client/src/services/freeRooms/freeRoomsService.ts
Due: prettier-format

add MealInfo
  Client/src/app/(tabs)/meal/(mealViews)/MealInfo.tsx
  Client/src/app/(tabs)/meal/_layout.tsx
  Client/src/components/menuPlan/DishView.tsx
  Client/src/components/menuPlan/MenuPlan.tsx
  Client/src/locales/de/meal.json
  Client/src/locales/de/router.json
  Client/src/locales/en/meal.json
  Client/src/locales/en/router.json
  Client/src/services/dualis/navigationService.ts
Due: prettier-format

Format code using Prettier
  Client/src/app/(calendar)/CourseInfo.tsx
  Client/src/app/(tabs)/meal/(mealViews)/MealInfo.tsx
  Client/src/app/(tabs)/meal/_layout.tsx
  Client/src/locales/de/meal.json
  Client/src/locales/en/meal.json
Due: prettier-format

Edit README.md
  README.md
Due: prettier-format

Format code using Prettier
  README.md
Due: prettier-format

feat: Implement DHBWAppFetcher for fetching and processing DHBW calendar data
  Scheduler/config/database.py
  Scheduler/config/general.py
  Scheduler/config/security.py
  Scheduler/config/settings.py
  Scheduler/main.py
  Scheduler/models/m_calendar.py
  Scheduler/models/m_canteen.py
  Scheduler/models/m_general.py
  Scheduler/models/m_generic.py
  Scheduler/models/m_user.py
  Scheduler/modules/calendar.py
  Scheduler/modules/canteen.py
  Scheduler/modules/general.py
  Scheduler/schemes/s_calendar.py
  Scheduler/task_scheduler.py
  Scheduler/utils/calendar/__init__.py
  Scheduler/utils/calendar/calendar_wrapper.py
  Scheduler/utils/calendar/dhbw_app_fetcher.py
  Scheduler/utils/canteen/canteen_scraperv3.py
  Server/app/core/calendar.py
  Server/app/core/init_database.py
  Server/app/crud/calendar.py
  Server/app/crud/general.py
  Server/app/crud/stats.py
  Server/app/data/canteen_addresses.json
  Server/app/data/ger_univercity.json
  Server/app/main.py
  Server/app/models/m_calendar.py
  Server/app/schemas/s_calendar.py
  Server/app/utils/scraper/calendar/dhbw_app_fetcher_v2.py
  Server/app/utils/task_scheduler.py
Due: black-format, prettier-format

fix metro config
  Client/metro.config.js
Due: prettier-format

Refactor calendar and canteen modules for improved functionality and consistency
  Scheduler/main.py
  Scheduler/models/m_canteen.py
  Scheduler/modules/canteen.py
  Scheduler/utils/canteen/canteen_scraperv3.py
  Server/app/api/v1/endpoints/calendar.py
  Server/app/api/v1/endpoints/canteen.py
  Server/app/controllers/calendar.py
  Server/app/core/database.py
  Server/app/crud/calendar.py
  Server/app/crud/canteen.py
  Server/app/crud/university.py
  Server/app/main.py
  Server/app/models/m_calendar.py
  Server/app/models/m_canteen.py
  Server/app/schemas/s_calendar.py
  Server/app/schemas/s_canteen.py
Due: black-format

Refactor and enhance server functionality
  Client/src/components/calendar/Event.tsx
  Client/tailwind.config.js
  Server/app/api/v1/endpoints/calendar.py
  Server/app/core/calendar.py
  Server/app/core/init_database.py
  Server/app/main.py
  Server/app/schemas/s_calendar.py
  Server/app/utils/scraper/calendar/dhbw_app_fetcher_v2.py
  Server/tests/v1/__init__.py
  Server/tests/v1/conftest.py
  Server/tests/v1/test_api_basic.py
  Server/tests/v1/test_calendar_wrapper.py
  Server/tests/v1/test_dhbw_data.py
Due: black-format, prettier-format

Refactor Canteen API and Models
  Scheduler/data/ger_univercity.json
  Scheduler/schemes/s_calendar.py
  Server/app/api/v1/endpoints/canteen.py
  Server/app/crud/canteen.py
  Server/app/data/canteen_addresses.json
  Server/app/models/m_canteen.py
  Server/app/models/m_generic.py
  Server/app/requirements.in
  Server/app/requirements.txt
  Server/app/schemas/s_canteen.py
  Server/app/schemas/s_generic.py
  Server/pytest.ini
  Server/tests/v1/conftest.py
  Server/tests/v1/test_dhbw_data.py
Due: black-format, prettier-format

Refactor Docker setup and environment configurations; add calendar and database JSON data
  Server/app/Dockerfile
  Server/app/config/settings.py
  Server/app/core/database.py
  Server/app/main.py
  Server/calendar_data.json
  Server/dhbw_data.json
  docker/compose_test.yaml
  docker/init-users.sql
  docker/init.sh
Due: black-format, prettier-format

Refactor calendar room availability logic to ensure proper timezone handling and improve datetime comparisons
  Server/app/controllers/calendar.py
  Server/app/schemas/s_calendar.py
Due: black-format

Fixed Bug regarding db-lecture-name attribute is too long
  Scheduler/main.py
  Server/app/config/settings.py
  Server/app/core/calendar.py
  Server/app/main.py
  Server/app/models/m_calendar.py
  Server/app/utils/scraper/calendar/dhbw_app_fetcher_v2.py
Due: black-format

Path conditions:
  black-format: any of: **/*.py
  prettier-format: any of: **/*.{js,jsx,ts,tsx,json,css,scss,md,yml}
