Repository Leonidas-maker/TheStudentMaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black-format, prettier-format

.gitlab-ci.yml:

stages:
  - format
  - test

black-format:
  stage: format
  image: python:3.12
  script:
    - pip install black
    - black --line-length 120 --target-version py312 .
    - |
      if [ -n "$(git status --porcelain)" ]; then
        mkdir -p ~/.ssh
        echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
        echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        git config user.name "GitLab CI/CD"
        git config user.email "gitlab-ci@example.com"
        git add .
        git commit -m "Format code using Black"
        git push git@gitlab.com:themastercollection/thestudentmaster.git HEAD:$CI_COMMIT_REF_NAME
      else
        echo "No changes to commit. Code is already formatted correctly."
      fi
  rules:
    - changes:
        - "**/*.py"

prettier-format:
  stage: format
  image: node:lts
  script:
    - npm install --global prettier
    - prettier
      "!.gitlab-ci.yml"
      --write
      "**/*.{js,jsx,ts,tsx,json,css,scss,md,yml}"
    - |
      if [ -n "$(git status --porcelain)" ]; then
        mkdir -p ~/.ssh
        echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
        echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        git config user.name "GitLab CI/CD"
        git config user.email "gitlab-ci@example.com"
        git add .
        git commit -m "Format code using Prettier"
        git push git@gitlab.com:themastercollection/thestudentmaster.git HEAD:$CI_COMMIT_REF_NAME
      else
        echo "No changes to commit. Code is already formatted correctly."
      fi
  rules:
    - changes:
        - "**/*.{js,jsx,ts,tsx,json,css,scss,md,yml}"

black:
  stage: test
  image: python:3.12
  script:
    - pip install black
    - black --check --line-length 120 .

prettier:
  stage: test
  image: node:lts
  script:
    - npm install --global prettier
    - prettier
      "!.gitlab-ci.yml"
      --check
      "**/*.{js,jsx,ts,tsx,json,css,scss,md,yml}"

Model iCal-Data added
  Server/__pycache__/main.cpython-311.pyc
  Server/config/__pycache__/__init__.cpython-311.pyc
  Server/config/__pycache__/database.cpython-311.pyc
  Server/config/__pycache__/security.cpython-311.pyc
  Server/controllers/__pycache__/__init__.cpython-311.pyc
  Server/controllers/__pycache__/auth.cpython-311.pyc
  Server/controllers/__pycache__/user.cpython-311.pyc
  Server/controllers/auth.py
  Server/middleware/__pycache__/__init__.cpython-311.pyc
  Server/middleware/__pycache__/auth.cpython-311.pyc
  Server/middleware/__pycache__/database.cpython-311.pyc
  Server/middleware/__pycache__/user.cpython-311.pyc
  Server/models/__pycache__/__init__.cpython-311.pyc
  Server/models/__pycache__/m_general.cpython-311.pyc
  Server/models/__pycache__/m_ical.cpython-311.pyc
  Server/models/__pycache__/m_user.cpython-311.pyc
  Server/models/__pycache__/s_auth.cpython-311.pyc
  Server/models/__pycache__/s_general.cpython-311.pyc
  Server/models/__pycache__/s_user.cpython-311.pyc
  Server/models/m_ical.py
  Server/routes/__pycache__/__init__.cpython-311.pyc
  Server/routes/__pycache__/auth.cpython-311.pyc
  Server/routes/__pycache__/user.cpython-311.pyc
  Server/utils/ical/ical_dhbw_mannheim.py
Due: black-format

first steps for the calendar
  Client/babel.config.js
  Client/package-lock.json
  Client/package.json
  Client/src/components/calendar/Calendar.tsx
  Client/src/screens/dashboard/Dashboard.tsx
Due: prettier-format

started with custom calendar component
  Client/package-lock.json
  Client/package.json
  Client/src/components/calendar/Calendar.tsx
  Client/src/components/calendar/Days.tsx
  Client/src/components/calendar/Hours.tsx
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/screens/dashboard/Dashboard.tsx
  Client/src/screens/settings/Settings.tsx
Due: prettier-format

Fix merge conflicts
  Client/.gitignore
  Server/.gitignore
  Server/controllers/user.py
  Server/main.py
  Server/middleware/user.py
  Server/models/pydantic_schemas/s_canteen.py
  Server/models/pydantic_schemas/s_user.py
  Server/models/sql_models/m_general.py
  Server/models/sql_models/m_user.py
  Server/routes/auth.py
  Server/routes/user.py
  Server/test/none
  Server/test/null
  Server/utils/canteen/__init__.py
  Server/utils/canteen/canteen_addresses.json
Due: black-format, prettier-format

Guidlines v1 and first Dualis-API docs
  Client/Frontend-GUIDELINE.md
  Misc/docs/Server/Dualis.md
  Server/Backend-GUIDELINE.md
Due: prettier-format

added function to change weeks + events now have the right height and top position
  Client/src/components/calendar/Days.tsx
  Client/src/components/calendar/Event.tsx
  Client/src/components/calendar/Hours.tsx
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/components/calendar/Weeks.tsx
Due: prettier-format

Fixed encoding problem in backend and updated test data in frontend
  Client/src/components/calendar/testData/tinf22cs1.json
  Server/utils/ical/general.py
Due: black-format, prettier-format

started working on week change
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/components/calendar/Weeks.tsx
Due: prettier-format

Add new models and routes for canteen menu retrieval
  Server/models/pydantic_schemas/s_canteen.py
  Server/models/sql_models/m_canteen.py
  Server/routes/canteen.py
Due: black-format

added time marker, past marker and exported calculation functions
  Client/src/components/calendar/CalendarCalculations.tsx
  Client/src/components/calendar/Days.tsx
  Client/src/components/calendar/Event.tsx
  Client/src/components/calendar/PastMarker.tsx
  Client/src/components/calendar/TimeMarker.tsx
Due: prettier-format

added saturday check and more comments
  Client/src/components/calendar/Days.tsx
  Client/src/components/calendar/Event.tsx
  Client/src/components/calendar/Hours.tsx
  Client/src/components/calendar/PastMarker.tsx
  Client/src/components/calendar/TimeMarker.tsx
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/components/calendar/Weeks.tsx
Due: prettier-format

Add Canteen Menu API Endpoints
  Server/main.py
  Server/middleware/canteen.py
  Server/models/pydantic_schemas/s_canteen.py
  Server/routes/canteen.py
Due: black-format

working on the calendar styling
  Client/src/components/calendar/Days.tsx
  Client/src/components/calendar/Hours.tsx
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/screens/dashboard/Dashboard.tsx
Due: prettier-format

Update README.md
  README.md
Due: prettier-format

Create first Draft of README.md
  README.md
Due: prettier-format

added some comments
  Client/src/components/calendar/Days.tsx
  Client/src/components/calendar/Event.tsx
  Client/src/components/calendar/Hours.tsx
Due: prettier-format

added basic events to the calendar
  Client/src/components/calendar/Days.tsx
  Client/src/components/calendar/Event.tsx
  Client/src/components/calendar/Hours.tsx
  Client/src/components/calendar/WeekCalendar.tsx
Due: prettier-format

added function to display calendar hours based on event times
  Client/src/components/calendar/Days.tsx
Due: prettier-format

Squashed commit of the following:
  Server/middleware/canteen.py
  Server/models/sql_models/m_canteen.py
  Server/utils/canteen/canteen_stw_ma.py
Due: black-format

Update .gitattributes
  .gitattributes
Due: none

created new screens
  Client/src/components/calendar/testData/tinf22cs1.json
  Client/src/components/navigator/OverviewNavigator.tsx
  Client/src/routes/CredentialStack.tsx
  Client/src/routes/OverviewStack.tsx
  Client/src/routes/SettingsStack.tsx
  Client/src/screens/accountManagement/forgotPassword/ForgotPassword.tsx
  Client/src/screens/accountManagement/login/Login.tsx
  Client/src/screens/accountManagement/mfa/AddMfa.tsx
  Client/src/screens/accountManagement/mfa/VerifyLogin.tsx
  Client/src/screens/accountManagement/registration/Registration.tsx
  Client/src/screens/accountManagement/registration/VerifyRegistration.tsx
  Client/src/screens/loading/Loading.tsx
Due: prettier-format

deleted redundant code
  Server/main.py
  Server/middleware/canteen.py
Due: black-format

trying some things with calendar
  Client/src/components/calendar/Days.tsx
  Client/src/components/calendar/Hours.tsx
  Client/src/components/calendar/WeekCalendar.tsx
Due: prettier-format

changed gitignore
  Client/.gitignore
Due: none

added more sub screens and more content to overview
  Client/src/components/navigator/ModuleNavigator.tsx
  Client/src/components/navigator/OverviewNavigator.tsx
  Client/src/components/profileView/ProfileView.tsx
  Client/src/routes/OverviewStack.tsx
  Client/src/screens/credits/Credits.tsx
  Client/src/screens/imprint/Imprint.tsx
  Client/src/screens/overview/Overview.tsx
  Client/src/screens/profile/Profile.tsx
Due: prettier-format

Frontend: Fixing Calendar
  Client/babel.config.js
  Client/nativewind-env.d.ts
  Client/src/components/calendar/Days.tsx
  Client/src/components/calendar/Event.tsx
  Client/src/components/calendar/Hours.tsx
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/routes/HomeBottomTabs.tsx
  Client/src/screens/dashboard/Dashboard.tsx
Due: prettier-format

Add .idea to .gitignore
  .gitignore
Due: none

added first version of getting started
  README.md
Due: prettier-format

Add new test concept file
  Misc/TestConcept.md
Due: prettier-format

Fix expo build
  Client/.gitignore
  Client/app.json
  Client/eas.json
  Client/package-lock.json
  Client/package.json
  Client/src/screens/overview/Overview.tsx
Due: prettier-format

Refactor menu item fetching in canteen_stw_ma.py due to issue with menu on holiday
  Server/utils/canteen/canteen_stw_ma.py
Due: black-format

update requirements.txt
  Server/requirements.txt
Due: none

fixed timemarker bug
  Client/src/components/calendar/TimeMarker.tsx
Due: prettier-format

fix for repeated task with asyncio; minor bug in update_canteen_menus; added progress bar for canteen menu updates
  Server/main.py
  Server/middleware/canteen.py
Due: black-format

Refractor Backend (Docs etc. )
  .gitattributes
  Server/config/database.py
  Server/config/security.py
  Server/controllers/auth.py
  Server/controllers/user.py
  Server/main.py
  Server/middleware/auth.py
  Server/middleware/canteen.py
  Server/middleware/database.py
  Server/middleware/general.py
  Server/middleware/ical.py
  Server/middleware/user.py
  Server/models/pydantic_schemas/s_auth.py
  Server/models/pydantic_schemas/s_canteen.py
  Server/models/pydantic_schemas/s_general.py
  Server/models/pydantic_schemas/s_ical.py
  Server/models/pydantic_schemas/s_user.py
  Server/models/sql_models/m_canteen.py
  Server/models/sql_models/m_user.py
  Server/routes/auth.py
  Server/routes/canteen.py
  Server/routes/user.py
  Server/utils/email/__init__.py
  Server/utils/email/email.py
  Server/utils/email/email_templates/mail_activate_2fa.html
  Server/utils/email/email_templates/mail_deactivate_2fa.html
  Server/utils/email/email_templates/mail_forgot_password.html
  Server/utils/email/email_templates/mail_permanent_locked.html
  Server/utils/email/email_templates/mail_temporary_locked.html
  Server/utils/email/email_templates/mail_verify_first.html
  Server/utils/email/email_templates/mail_verify_locked.html
Due: black-format

changed event styling, added event json import, added event overlap function
  Client/src/components/calendar/Days.tsx
  Client/src/components/calendar/Event.tsx
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/components/calendar/testData/tinf22cs1.json
  Client/src/components/navigator/OverviewNavigator.tsx
  Client/src/routes/OverviewStack.tsx
  Client/src/screens/responsibleDisclosure/ResponsibleDisclosure.tsx
Due: prettier-format

calendar iOS and Web fix & clean up
  Client/src/components/calendar/Days.tsx
  Client/src/components/calendar/Event.tsx
  Client/src/components/calendar/Hours.tsx
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/components/navigator/OverviewNavigator.tsx
  Client/src/screens/dashboard/Dashboard.tsx
Due: prettier-format

Refactor event calculation, add comments and add test data for events
  Client/src/components/calendar/Event.tsx
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/components/calendar/Weeks.tsx
  Client/src/components/calendar/testData/tinf22cs1.json
  Client/src/screens/dashboard/Dashboard.tsx
Due: prettier-format

bugfixes canteen and address creation
  Server/main.py
  Server/middleware/canteen.py
  Server/middleware/general.py
  Server/models/sql_models/m_canteen.py
  Server/models/sql_models/m_general.py
  Server/routes/canteen.py
Due: black-format
