Repository Leonidas-maker/TheStudentMaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black-format, prettier-format

.gitlab-ci.yml:

stages:
  - format
  - test

black-format:
  stage: format
  image: python:3.12
  script:
    - pip install black
    - black --line-length 120 --target-version py312 .
    - |
      if [ -n "$(git status --porcelain)" ]; then
        mkdir -p ~/.ssh
        echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
        echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        git config user.name "GitLab CI/CD"
        git config user.email "gitlab-ci@example.com"
        git add .
        git commit -m "Format code using Black"
        git push git@gitlab.com:themastercollection/thestudentmaster.git HEAD:$CI_COMMIT_REF_NAME
      else
        echo "No changes to commit. Code is already formatted correctly."
      fi
  rules:
    - changes:
        - "**/*.py"

prettier-format:
  stage: format
  image: node:lts
  script:
    - npm install --global prettier
    - prettier
      "!.gitlab-ci.yml"
      --write
      "**/*.{js,jsx,ts,tsx,json,css,scss,md,yml}"
    - |
      if [ -n "$(git status --porcelain)" ]; then
        mkdir -p ~/.ssh
        echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
        echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        git config user.name "GitLab CI/CD"
        git config user.email "gitlab-ci@example.com"
        git add .
        git commit -m "Format code using Prettier"
        git push git@gitlab.com:themastercollection/thestudentmaster.git HEAD:$CI_COMMIT_REF_NAME
      else
        echo "No changes to commit. Code is already formatted correctly."
      fi
  rules:
    - changes:
        - "**/*.{js,jsx,ts,tsx,json,css,scss,md,yml}"

black:
  stage: test
  image: python:3.12
  script:
    - pip install black
    - black --check --line-length 120 .

prettier:
  stage: test
  image: node:lts
  script:
    - npm install --global prettier
    - prettier
      "!.gitlab-ci.yml"
      --check
      "**/*.{js,jsx,ts,tsx,json,css,scss,md,yml}"

Modified basic uml diagramm-backend
  Misc/docs/Server/structure.drawio
  Server/controllers/auth.py
Due: black-format

Fix UML
  Misc/docs/Server/structure.drawio
Due: none

Resolve "Typo in sql model m_auth.py:30"
  Server/models/sql_models/m_auth.py
Due: black-format

Feat/86 canteen canteen shortname none
  Server/middleware/canteen.py
  Server/test/test_main.py
  Server/utils/canteen/canteen_addresses.json
  Server/utils/canteen/canteen_scraper.py
Due: black-format, prettier-format

Bug fixes Backend - Typing error in auth - Get-Canteen bug
  Server/Dockerfile
  Server/middleware/auth.py
  Server/middleware/canteen.py
  Server/requirements.txt
  Server/routes/user.py
  Server/test/test_main.py
  requirements.txt
Due: black-format

more login stuff
  Client/package-lock.json
  Client/package.json
  Client/src/components/profileView/ProfileView.tsx
  Client/src/screens/accountManagement/login/Login.tsx
  Client/src/screens/accountManagement/login/VerifyLogin.tsx
  Client/src/screens/accountManagement/mfa/AddMfa.tsx
  Client/src/screens/overview/Overview.tsx
Due: prettier-format

Format code using Prettier
  Client/src/components/profileView/ProfileView.tsx
  Client/src/screens/accountManagement/login/Login.tsx
  Client/src/screens/accountManagement/login/VerifyLogin.tsx
Due: prettier-format

created token services
  Client/src/App.tsx
  Client/src/screens/accountManagement/login/Login.tsx
  Client/src/screens/accountManagement/login/VerifyLogin.tsx
  Client/src/services/api.tsx
  Client/src/services/applyInterceptor.tsx
  Client/src/services/authService.tsx
  Client/src/services/tokenService.tsx
Due: prettier-format

Format code using Prettier
  Client/src/App.tsx
  Client/src/screens/accountManagement/login/Login.tsx
  Client/src/services/api.tsx
  Client/src/services/applyInterceptor.tsx
  Client/src/services/authService.tsx
  Client/src/services/tokenService.tsx
Due: prettier-format

Bug Fixes (Backend)
  Server/controllers/auth.py
  Server/utils/email/email.py
Due: black-format

updated expo
  Client/package-lock.json
  Client/package.json
  Client/src/screens/accountManagement/login/Login.tsx
  Client/src/services/api.tsx
  Client/src/services/applyInterceptor.tsx
  Client/src/services/authService.tsx
  Client/src/services/tokenService.tsx
Due: prettier-format

Format code using Prettier
  Client/src/services/api.tsx
  Client/src/services/applyInterceptor.tsx
  Client/src/services/authService.tsx
  Client/src/services/tokenService.tsx
Due: prettier-format

added function to fetch calendar data
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/screens/settings/Settings.tsx
Due: prettier-format

Format code using Prettier
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/screens/settings/Settings.tsx
Due: prettier-format

created more services
  Client/package-lock.json
  Client/package.json
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/screens/overview/Overview.tsx
  Client/src/screens/settings/Settings.tsx
  Client/src/services/api.tsx
  Client/src/services/calendarService.tsx
  Client/src/services/eventService.tsx
Due: prettier-format

Format code using Prettier
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/screens/overview/Overview.tsx
  Client/src/screens/settings/Settings.tsx
  Client/src/services/api.tsx
  Client/src/services/calendarService.tsx
  Client/src/services/eventService.tsx
Due: prettier-format

clear storage function
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/screens/overview/Overview.tsx
  Client/src/screens/settings/Settings.tsx
  Client/src/services/calendarService.tsx
Due: prettier-format

Format code using Prettier
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/screens/overview/Overview.tsx
  Client/src/screens/settings/Settings.tsx
  Client/src/services/calendarService.tsx
Due: prettier-format

Format code using Black
  Server/test/test_api_basic.py
  Server/test/test_calendar_wrapper.py
Due: black-format

added hash compare
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/screens/overview/Overview.tsx
  Client/src/screens/settings/Settings.tsx
  Client/src/services/calendarService.tsx
  Client/src/services/eventService.tsx
Due: prettier-format

Feat/103 calendar frontend connection
  Client/package-lock.json
  Client/package.json
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/screens/overview/Overview.tsx
  Client/src/screens/settings/Settings.tsx
  Client/src/services/calendarService.tsx
  Client/src/services/eventService.tsx
Due: prettier-format

add canteen to utils diagram
  Misc/docs/Server/structure.drawio
Due: none

added continuous task for scraping canteen
  Misc/docs/Server/structure.drawio
Due: none

added canteen services and frontend logic to fetch data
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/components/calendar/testData/tinf22cs1.json
  Client/src/components/dropdown/Dropdown.tsx
  Client/src/components/menuPlan/DishView.tsx
  Client/src/components/menuPlan/MenuPlan.tsx
  Client/src/screens/overview/Overview.tsx
  Client/src/services/canteenService.tsx
Due: prettier-format

Format code using Prettier
  Client/src/components/calendar/testData/tinf22cs1.json
  Client/src/components/dropdown/Dropdown.tsx
  Client/src/components/menuPlan/DishView.tsx
  Client/src/components/menuPlan/MenuPlan.tsx
  Client/src/services/canteenService.tsx
Due: prettier-format

added progress bar for canteen, bug fix for set lastFetchTime
  Client/src/components/menuPlan/DishView.tsx
  Client/src/components/menuPlan/MenuPlan.tsx
  Client/src/services/canteenService.tsx
  Client/src/services/eventService.tsx
Due: prettier-format

Format code using Prettier
  Client/src/services/canteenService.tsx
Due: prettier-format

added support for sha1 hashing of canteen objects to database model
  Server/middleware/canteen.py
  Server/models/sql_models/m_canteen.py
Due: black-format

add TERM environment variable to Dockerfile and finialised backend-uml
  Misc/docs/Server/structure.drawio
  Server/Dockerfile
Due: none

Format code using Black
  Server/models/sql_models/m_canteen.py
Due: black-format

Update canteen.py to use db.flush() instead of db.commit() for better performance and commit only one at the end
  Server/middleware/canteen.py
Due: black-format

Docs/#87 backend uml
  Misc/TestConcept.md
  Misc/docs/Frontend/Dualis.md
  Misc/docs/Server/structure.drawio
  Server/Dockerfile
  Server/controllers/auth.py
  Server/routes/auth.py
  Server/utils/email/email.py
Due: black-format, prettier-format

Add CanteenHash model and API endpoints for retrieving canteen hashes
  Server/models/pydantic_schemas/s_canteen.py
  Server/models/sql_models/m_canteen.py
  Server/routes/canteen.py
Due: black-format

Format code using Black
  Server/models/pydantic_schemas/s_canteen.py
  Server/models/sql_models/m_canteen.py
  Server/routes/canteen.py
Due: black-format

moved canteen_addresses.json
  Server/data/address_lists/canteen_addresses.json
  Server/middleware/canteen.py
Due: black-format, prettier-format

added profile page with new backend calls
  Client/src/components/buttons/EditButton.tsx
  Client/src/components/profileView/ProfileView.tsx
  Client/src/screens/overview/Overview.tsx
  Client/src/screens/profile/Profile.tsx
  Client/src/services/api.tsx
  Client/src/services/applyInterceptor.tsx
  Client/src/services/calendarService.tsx
  Client/src/services/canteenService.tsx
  Client/src/services/eventService.tsx
  Client/src/services/userService.tsx
Due: prettier-format

Format code using Prettier
  Client/src/components/buttons/EditButton.tsx
  Client/src/components/profileView/ProfileView.tsx
  Client/src/screens/profile/Profile.tsx
  Client/src/services/eventService.tsx
  Client/src/services/userService.tsx
Due: prettier-format

changed stacks, changed services, changed login
  Client/package-lock.json
  Client/package.json
  Client/src/components/buttons/EditButton.tsx
  Client/src/components/profileView/ProfileView.tsx
  Client/src/interfaces/userInterfaces.tsx
  Client/src/routes/CredentialStack.tsx
  Client/src/routes/LoadingStack.tsx
  Client/src/routes/MiscStack.tsx
  Client/src/routes/OverviewStack.tsx
  Client/src/screens/accountManagement/forgotPassword/VerifyForgot.tsx
  Client/src/screens/accountManagement/login/Login.tsx
  Client/src/screens/accountManagement/login/VerifyLogin.tsx
  Client/src/screens/accountManagement/mfa/BackupMFA.tsx
  Client/src/screens/accountManagement/mfa/VerifyMfa.tsx
  Client/src/screens/overview/Overview.tsx
  Client/src/screens/profile/Profile.tsx
  Client/src/services/api.tsx
  Client/src/services/applyInterceptor.tsx
  Client/src/services/authService.tsx
  Client/src/services/tokenService.tsx
  Client/src/services/userService.tsx
Due: prettier-format

Format code using Prettier
  Client/src/components/buttons/EditButton.tsx
  Client/src/components/profileView/ProfileView.tsx
  Client/src/interfaces/userInterfaces.tsx
  Client/src/routes/CredentialStack.tsx
  Client/src/routes/OverviewStack.tsx
  Client/src/screens/overview/Overview.tsx
  Client/src/screens/profile/Profile.tsx
  Client/src/services/tokenService.tsx
Due: prettier-format

The repeated tasks function is replaced by the TaskScheduler class - All repeated tasks should now be executed more quickly - Logs for repeated tasks in Docker cmd are now more readable
  Server/main.py
  Server/requirements.txt
  Server/utils/scheduler/__init__.py
  Server/utils/scheduler/task_scheduler.py
Due: black-format
