Repository Leonidas-maker/TheStudentMaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black-format, prettier-format

.gitlab-ci.yml:

stages:
  - format
  - test

black-format:
  stage: format
  image: python:3.12
  script:
    - pip install black
    - black --line-length 120 --target-version py312 .
    - |
      if [ -n "$(git status --porcelain)" ]; then
        mkdir -p ~/.ssh
        echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
        echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        git config user.name "GitLab CI/CD"
        git config user.email "gitlab-ci@example.com"
        git add .
        git commit -m "Format code using Black"
        git push git@gitlab.com:themastercollection/thestudentmaster.git HEAD:$CI_COMMIT_REF_NAME
      else
        echo "No changes to commit. Code is already formatted correctly."
      fi
  rules:
    - changes:
        - "**/*.py"

prettier-format:
  stage: format
  image: node:lts
  script:
    - npm install --global prettier
    - prettier
      "!.gitlab-ci.yml"
      --write
      "**/*.{js,jsx,ts,tsx,json,css,scss,md,yml}"
    - |
      if [ -n "$(git status --porcelain)" ]; then
        mkdir -p ~/.ssh
        echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
        echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        git config user.name "GitLab CI/CD"
        git config user.email "gitlab-ci@example.com"
        git add .
        git commit -m "Format code using Prettier"
        git push git@gitlab.com:themastercollection/thestudentmaster.git HEAD:$CI_COMMIT_REF_NAME
      else
        echo "No changes to commit. Code is already formatted correctly."
      fi
  rules:
    - changes:
        - "**/*.{js,jsx,ts,tsx,json,css,scss,md,yml}"

black:
  stage: test
  image: python:3.12
  script:
    - pip install black
    - black --check --line-length 120 .

prettier:
  stage: test
  image: node:lts
  script:
    - npm install --global prettier
    - prettier
      "!.gitlab-ci.yml"
      --check
      "**/*.{js,jsx,ts,tsx,json,css,scss,md,yml}"

Format code using Prettier
  Client/src/screens/dualis/Dualis.tsx
Due: prettier-format

Update README.md
  README.md
Due: prettier-format

added new screens for dualis
  Client/src/screens/dualis/Dualis.tsx
  Client/src/screens/dualis/DualisLoad.tsx
  Client/src/screens/dualis/DualisLogin.tsx
  Client/src/screens/dualis/DualisSemester.tsx
Due: prettier-format

Format code using Prettier
  Client/src/screens/dualis/DualisLoad.tsx
  Client/src/screens/dualis/DualisLogin.tsx
  Client/src/screens/dualis/DualisSemester.tsx
Due: prettier-format

added debug navigator for dualis screens
  Client/src/routes/OverviewStack.tsx
  Client/src/screens/dualis/DualisLoad.tsx
  Client/src/screens/dualis/DualisLogin.tsx
  Client/src/screens/dualis/DualisSemester.tsx
  Client/src/screens/overview/Overview.tsx
Due: prettier-format

Format code using Prettier
  Client/src/screens/dualis/DualisLoad.tsx
  Client/src/screens/dualis/DualisLogin.tsx
  Client/src/screens/dualis/DualisSemester.tsx
  Client/src/screens/overview/Overview.tsx
Due: prettier-format

added navigation logic
  Client/package-lock.json
  Client/package.json
  Client/src/interfaces/dualisInterfaces.ts
  Client/src/screens/dualis/Dualis.tsx
  Client/src/screens/dualis/DualisLoad.tsx
  Client/src/screens/dualis/DualisLogin.tsx
  Client/src/services/dualis/loginService.ts
Due: prettier-format

Format code using Prettier
  Client/src/interfaces/dualisInterfaces.ts
  Client/src/screens/dualis/Dualis.tsx
  Client/src/screens/dualis/DualisLoad.tsx
  Client/src/screens/dualis/DualisLogin.tsx
Due: prettier-format

reworked stacks a bit to make dualis work in HomeBottomTabs
  Client/src/components/selector/secureStorageManager.tsx
  Client/src/routes/DualisStack.tsx
  Client/src/routes/HomeBottomTabs.tsx
  Client/src/routes/OverviewStack.tsx
  Client/src/screens/dualis/Dualis.tsx
  Client/src/screens/dualis/DualisLoad.tsx
  Client/src/screens/dualis/DualisLogin.tsx
Due: prettier-format

Format code using Prettier
  Client/src/screens/dualis/DualisLoad.tsx
  Client/src/screens/dualis/DualisLogin.tsx
Due: prettier-format

fixed performanceOverview navigator bug
  Client/src/routes/DualisStack.tsx
  Client/src/screens/dualis/Dualis.tsx
  Client/src/services/dualis/navigationService.ts
Due: prettier-format

added dropdown, added option to set defaultOption to dropdown component
  Client/src/components/dropdown/Dropdown.tsx
  Client/src/interfaces/componentInterfaces.ts
  Client/src/screens/dualis/Dualis.tsx
Due: prettier-format

Format code using Prettier
  Client/src/interfaces/componentInterfaces.ts
  Client/src/screens/dualis/Dualis.tsx
Due: prettier-format

added dropdown navigation with automatic logout
  Client/src/interfaces/dualisInterfaces.ts
  Client/src/routes/DualisStack.tsx
  Client/src/screens/dualis/Dualis.tsx
  Client/src/screens/dualis/DualisLoad.tsx
  Client/src/screens/dualis/DualisLogin.tsx
  Client/src/screens/dualis/DualisSemester.tsx
  Client/src/services/dualis/loginService.ts
  Client/src/services/dualis/navigationService.ts
Due: prettier-format

Format code using Prettier
  Client/src/screens/dualis/Dualis.tsx
  Client/src/screens/dualis/DualisLoad.tsx
  Client/src/screens/dualis/DualisLogin.tsx
  Client/src/services/dualis/loginService.ts
Due: prettier-format

Added online status functionality and resolved calendar API bugs
  Server/compose.yaml
  Server/config/database.py
  Server/config/general.py
  Server/config/globals.py
  Server/controllers/calendar.py
  Server/controllers/stats.py
  Server/controllers/user.py
  Server/main.py
  Server/middleware/auth.py
  Server/middleware/calendar.py
  Server/middleware/stats.py
  Server/models/pydantic_schemas/s_general.py
  Server/models/pydantic_schemas/s_stats.py
  Server/models/sql_models/m_calendar.py
  Server/models/sql_models/m_stats.py
  Server/requirements.in
  Server/requirements.txt
  Server/routes/calendar.py
  Server/routes/static.py
  Server/routes/stats.py
  Server/routes/user.py
  Server/utils/cache.py
  Server/utils/calendar/dhbw_app_fetcher.py
  Server/utils/calendar/nativ_sources.py
Due: black-format

Format code using Black
  Server/config/general.py
  Server/config/globals.py
  Server/controllers/calendar.py
  Server/controllers/stats.py
  Server/controllers/user.py
  Server/middleware/auth.py
  Server/middleware/calendar.py
  Server/middleware/stats.py
  Server/models/pydantic_schemas/s_stats.py
  Server/models/sql_models/m_calendar.py
  Server/models/sql_models/m_stats.py
  Server/routes/stats.py
  Server/utils/calendar/dhbw_app_fetcher.py
Due: black-format

changed design for dualis login and load
  Client/src/screens/dualis/DualisLoad.tsx
  Client/src/screens/dualis/DualisLogin.tsx
  Client/src/screens/overview/Overview.tsx
  Client/src/services/dualis/navigationService.ts
Due: prettier-format

Format code using Prettier
  Client/src/screens/dualis/DualisLoad.tsx
  Client/src/screens/dualis/DualisLogin.tsx
  Client/src/services/dualis/navigationService.ts
Due: prettier-format

Format code using Prettier
  Server/app_description.md
Due: prettier-format

Added basic analytics
  Scheduler/config/__pycache__/__init__.cpython-311.pyc
  Scheduler/config/__pycache__/__init__.cpython-312.pyc
  Scheduler/config/__pycache__/database.cpython-311.pyc
  Scheduler/config/__pycache__/database.cpython-312.pyc
  Scheduler/config/__pycache__/db_certs.cpython-312.pyc
  Scheduler/config/__pycache__/general.cpython-312.pyc
  Scheduler/config/__pycache__/globals.cpython-312.pyc
  Scheduler/config/__pycache__/security.cpython-311.pyc
  Scheduler/config/__pycache__/security.cpython-312.pyc
  Scheduler/config/__pycache__/settings.cpython-312.pyc
  Scheduler/config/database.py
  Scheduler/utils/calendar/__pycache__/__init__.cpython-311.pyc
  Scheduler/utils/calendar/__pycache__/__init__.cpython-312.pyc
  Scheduler/utils/calendar/__pycache__/calendar_wrapper.cpython-311.pyc
  Scheduler/utils/calendar/__pycache__/calendar_wrapper.cpython-312.pyc
  Scheduler/utils/calendar/__pycache__/dhbw_app_fetcher.cpython-312.pyc
  Scheduler/utils/calendar/__pycache__/nativ_sources.cpython-311.pyc
  Scheduler/utils/calendar/__pycache__/nativ_sources.cpython-312.pyc
  Scheduler/utils/calendar/__pycache__/schemes.cpython-312.pyc
  Scheduler/utils/canteen/__pycache__/__init__.cpython-311.pyc
  Scheduler/utils/canteen/__pycache__/__init__.cpython-312.pyc
  Scheduler/utils/canteen/__pycache__/canteen_scraper.cpython-311.pyc
  Scheduler/utils/canteen/__pycache__/canteen_scraper.cpython-312.pyc
  Scheduler/utils/helpers/__pycache__/hashing.cpython-312.pyc
  Server/config/database.py
  Server/config/general.py
  Server/controllers/calendar.py
  Server/main.py
  Server/middleware/analytics.py
  Server/requirements.in
  Server/requirements.txt
  Server/routes/calendar.py
  Server/routes/static.py
  Server/utils/analytics.py
  Server/utils/cache.py
Due: black-format

Format code using Black
  Scheduler/config/database.py
  Scheduler/main.py
  Scheduler/modules/calendar.py
  Scheduler/modules/canteen.py
  Scheduler/modules/general.py
  Scheduler/schemes/s_calendar.py
  Scheduler/schemes/s_general.py
  Server/config/database.py
  Server/controllers/calendar.py
  Server/main.py
  Server/middleware/analytics.py
  Server/middleware/calendar.py
  Server/middleware/general.py
  Server/models/pydantic_schemas/s_calendar.py
  Server/models/pydantic_schemas/s_user.py
  Server/routes/calendar.py
  Server/routes/static.py
  Server/utils/analytics.py
  Server/utils/cache.py
  Server/utils/helpers/logic.py
Due: black-format

added performance overview styling
  Client/src/components/textFields/dualisTextFields/DualisDetailText.tsx
  Client/src/components/textFields/dualisTextFields/DualisHeaderDescText.tsx
  Client/src/components/textFields/dualisTextFields/DualisHeaderModuleText.tsx
  Client/src/components/textFields/dualisTextFields/DualisModuleText.tsx
  Client/src/components/textFields/dualisTextFields/DualisNumberText.tsx
  Client/src/components/textFields/dualisTextFields/DualisOverviewDescText.tsx
  Client/src/components/textFields/dualisTextFields/DualisOverviewText.tsx
  Client/src/screens/dualis/Dualis.tsx
  Client/src/screens/dualis/DualisLoad.tsx
Due: prettier-format

Format code using Prettier
  Client/src/components/textFields/dualisTextFields/DualisDetailText.tsx
  Client/src/components/textFields/dualisTextFields/DualisHeaderDescText.tsx
  Client/src/components/textFields/dualisTextFields/DualisHeaderModuleText.tsx
  Client/src/components/textFields/dualisTextFields/DualisNumberText.tsx
  Client/src/components/textFields/dualisTextFields/DualisOverviewDescText.tsx
  Client/src/components/textFields/dualisTextFields/DualisOverviewText.tsx
  Client/src/screens/dualis/Dualis.tsx
  Client/src/screens/dualis/DualisLoad.tsx
Due: prettier-format

Edit .gitignore
  .gitignore
  Server/.gitignore
Due: none

Boost performance of Dualis crawler by parallelizing requests
  Client/src/screens/settings/Settings.tsx
  Client/src/services/dualis/navigationService.ts
Due: prettier-format

Format code using Prettier
  Client/src/screens/settings/Settings.tsx
  Client/src/services/dualis/navigationService.ts
Due: prettier-format

Working on styling, added semester gpa/ects, refactor grade status to boolean
  Client/src/interfaces/dualisInterfaces.ts
  Client/src/routes/OverviewStack.tsx
  Client/src/scraper/dualis/gradeScraper.tsx
  Client/src/screens/dualis/Dualis.tsx
  Client/src/screens/dualis/DualisLoad.tsx
  Client/src/screens/dualis/DualisLogin.tsx
  Client/src/screens/overview/Overview.tsx
Due: prettier-format

Format code using Prettier
  Client/src/routes/OverviewStack.tsx
  Client/src/screens/dualis/Dualis.tsx
  Client/src/screens/dualis/DualisLoad.tsx
  Client/src/screens/dualis/DualisLogin.tsx
  Client/src/screens/overview/Overview.tsx
Due: prettier-format

Fix issue with handling deleted lectures not being processed correctly
  Scheduler/main.py
  Scheduler/modules/calendar.py
  Scheduler/schemes/s_calendar.py
  Scheduler/utils/calendar/dhbw_app_fetcher.py
  Scheduler/utils/helpers/__pycache__/hashing.cpython-312.pyc
  Server/routes/static.py
Due: black-format

Format code using Black
  Scheduler/utils/calendar/dhbw_app_fetcher.py
Due: black-format

Refactor grade scraping logic and improve module detail display
  Client/src/components/textFields/dualisTextFields/DualisExamDetailText.tsx
  Client/src/components/textFields/dualisTextFields/DualisModuleDetailText.tsx
  Client/src/scraper/dualis/detailGradeScraper.tsx
  Client/src/scraper/dualis/gradeScraper.tsx
  Client/src/screens/dualis/Dualis.tsx
Due: prettier-format

Format code using Prettier
  Client/src/components/textFields/dualisTextFields/DualisModuleDetailText.tsx
  Client/src/screens/dualis/Dualis.tsx
Due: prettier-format

added function to set new universoty uuid, changed version to 1.1.0
  Client/app.json
  Client/package.json
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/screens/licenses/licenses.json
Due: prettier-format

Format code using Prettier
  Client/app.json
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/screens/licenses/licenses.json
Due: prettier-format

Added Dualis function
  Client/app.json
  Client/package-lock.json
  Client/package.json
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/components/dropdown/Dropdown.tsx
  Client/src/components/storageManager/asyncStorageManager.tsx
  Client/src/components/storageManager/secureStorageManager.tsx
  Client/src/components/switch/OptionSwitch.tsx
  Client/src/components/textFields/dualisTextFields/DualisDetailText.tsx
  Client/src/components/textFields/dualisTextFields/DualisExamDetailText.tsx
  Client/src/components/textFields/dualisTextFields/DualisHeaderDescText.tsx
  Client/src/components/textFields/dualisTextFields/DualisHeaderModuleText.tsx
  Client/src/components/textFields/dualisTextFields/DualisModuleDetailText.tsx
  Client/src/components/textFields/dualisTextFields/DualisModuleText.tsx
  Client/src/components/textFields/dualisTextFields/DualisNumberText.tsx
  Client/src/components/textFields/dualisTextFields/DualisOverviewDescText.tsx
  Client/src/components/textFields/dualisTextFields/DualisOverviewText.tsx
  Client/src/interfaces/componentInterfaces.ts
  Client/src/interfaces/dualisInterfaces.ts
  Client/src/routes/DualisStack.tsx
  Client/src/routes/HomeBottomTabs.tsx
  Client/src/routes/OverviewStack.tsx
  Client/src/scraper/dualis/detailGradeScraper.tsx
  Client/src/scraper/dualis/ectsScraper.tsx
  Client/src/scraper/dualis/gpaScraper.tsx
  Client/src/scraper/dualis/gradeScraper.tsx
  Client/src/scraper/dualis/performanceOverviewScraper.tsx
  Client/src/scraper/dualis/semesterScraper.tsx
  Client/src/screens/dualis/Dualis.tsx
  Client/src/screens/dualis/DualisLoad.tsx
  Client/src/screens/dualis/DualisLogin.tsx
  Client/src/screens/licenses/licenses.json
  Client/src/screens/overview/Overview.tsx
  Client/src/screens/settings/Settings.tsx
  Client/src/services/dualis/loginService.ts
  Client/src/services/dualis/navigationService.ts
Due: prettier-format

Fix bugs in DHBW app scraper and optimize calendar performance.
  Scheduler/models/m_calendar.py
  Scheduler/utils/calendar/dhbw_app_fetcher.py
  Server/controllers/calendar.py
  Server/main.py
  Server/models/sql_models/m_calendar.py
  Server/routes/calendar.py
Due: black-format
