Repository Leonidas-maker/TheStudentMaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black-format, prettier-format

.gitlab-ci.yml:

stages:
  - format
  - test

black-format:
  stage: format
  image: python:3.12
  script:
    - pip install black
    - black --line-length 120 --target-version py312 .
    - |
      if [ -n "$(git status --porcelain)" ]; then
        mkdir -p ~/.ssh
        echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
        echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        git config user.name "GitLab CI/CD"
        git config user.email "gitlab-ci@example.com"
        git add .
        git commit -m "Format code using Black"
        git push git@gitlab.com:themastercollection/thestudentmaster.git HEAD:$CI_COMMIT_REF_NAME
      else
        echo "No changes to commit. Code is already formatted correctly."
      fi
  rules:
    - changes:
        - "**/*.py"

prettier-format:
  stage: format
  image: node:lts
  script:
    - npm install --global prettier
    - prettier
      "!.gitlab-ci.yml"
      --write
      "**/*.{js,jsx,ts,tsx,json,css,scss,md,yml}"
    - |
      if [ -n "$(git status --porcelain)" ]; then
        mkdir -p ~/.ssh
        echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
        echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        git config user.name "GitLab CI/CD"
        git config user.email "gitlab-ci@example.com"
        git add .
        git commit -m "Format code using Prettier"
        git push git@gitlab.com:themastercollection/thestudentmaster.git HEAD:$CI_COMMIT_REF_NAME
      else
        echo "No changes to commit. Code is already formatted correctly."
      fi
  rules:
    - changes:
        - "**/*.{js,jsx,ts,tsx,json,css,scss,md,yml}"

black:
  stage: test
  image: python:3.12
  script:
    - pip install black
    - black --check --line-length 120 .

prettier:
  stage: test
  image: node:lts
  script:
    - npm install --global prettier
    - prettier
      "!.gitlab-ci.yml"
      --check
      "**/*.{js,jsx,ts,tsx,json,css,scss,md,yml}"

changed file name
  Client/src/App.tsx
  Client/src/services/api.tsx
  Client/src/services/applyInterceptor.tsx
  Client/src/services/authService.tsx
  Client/src/services/calendarService.tsx
  Client/src/services/canteenService.tsx
  Client/src/services/eventService.tsx
  Client/src/services/tokenService.tsx
  Client/src/services/userService.tsx
Due: prettier-format

added some more comments, created radioOption component
  Client/src/components/radioOption/RadioOption.tsx
  Client/src/interfaces/componentInterfaces.tsx
  Client/src/screens/onboarding/Onboarding.tsx
  Client/src/screens/onboarding/OnboardingPage.tsx
  Client/src/screens/overview/Overview.tsx
  Client/src/screens/profile/Profile.tsx
  Client/src/screens/settings/Settings.tsx
  Client/src/services/api.tsx
  Client/src/services/applyInterceptor.tsx
  Client/src/services/authService.tsx
  Client/src/services/calendarService.tsx
  Client/src/services/canteenService.tsx
  Client/src/services/eventService.tsx
  Client/src/services/tokenService.tsx
  Client/src/services/userService.tsx
Due: prettier-format

Format code using Prettier
  Client/src/components/radioOption/RadioOption.tsx
  Client/src/screens/onboarding/Onboarding.tsx
  Client/src/screens/settings/Settings.tsx
  Client/src/services/calendarService.tsx
  Client/src/services/canteenService.tsx
  Client/src/services/eventService.tsx
  Client/src/services/tokenService.tsx
  Client/src/services/userService.tsx
Due: prettier-format

added more informations to some pages, changed version to 1.0.0
  Client/app.json
  Client/package.json
  Client/src/screens/bugReport/BugReport.tsx
  Client/src/screens/imprint/Imprint.tsx
  Client/src/screens/licenses/licenses.json
  Client/src/screens/responsibleDisclosure/ResponsibleDisclosure.tsx
  Client/src/screens/support/Support.tsx
Due: prettier-format

added projectId, removed modal in dishview, fixed statusbar bug
  Client/app.json
  Client/eas.json
  Client/package-lock.json
  Client/package.json
  Client/public/logo/TheStudentMaster.png
  Client/public/logo/splash.png
  Client/src/components/menuPlan/DishView.tsx
  Client/src/routes/CredentialStack.tsx
  Client/src/routes/HomeBottomTabs.tsx
  Client/src/routes/LoadingStack.tsx
  Client/src/routes/MiscStack.tsx
  Client/src/routes/OverviewStack.tsx
  Client/src/routes/SettingsStack.tsx
  Client/src/screens/licenses/licenses.json
Due: prettier-format

Format code using Prettier
  Client/app.json
  Client/src/screens/licenses/licenses.json
Due: prettier-format

Update LICENSE
  LICENSE
Due: none

added conmments to all files containing code for cantenn
  Server/models/pydantic_schemas/s_canteen.py
  Server/models/sql_models/m_canteen.py
  Server/routes/canteen.py
  Server/utils/canteen/canteen_scraper.py
Due: black-format

Format code using Black
  Server/middleware/canteen.py
  Server/routes/canteen.py
Due: black-format

added first dualis calls
  Client/src/screens/dualis/Dualis.tsx
  Client/src/screens/overview/Overview.tsx
Due: prettier-format

Format code using Prettier
  Client/src/screens/dualis/Dualis.tsx
Due: prettier-format

Resolve "Canteen hash error"
  Server/middleware/canteen.py
  Server/models/pydantic_schemas/s_canteen.py
  Server/models/sql_models/m_canteen.py
  Server/routes/canteen.py
Due: black-format

Add removed docs
  Server/models/pydantic_schemas/s_canteen.py
Due: black-format

chore: Remove unused 'hash' column from Dish and Menu models
  Server/models/sql_models/m_canteen.py
  Server/test/test_calendar_wrapper.py
Due: black-format

Feat/98 missing documentation in backend
  Server/middleware/canteen.py
  Server/models/pydantic_schemas/s_canteen.py
  Server/models/sql_models/m_canteen.py
  Server/routes/canteen.py
  Server/test/test_calendar_wrapper.py
  Server/utils/canteen/canteen_scraper.py
Due: black-format

Bug fixed - canteen response
  Server/middleware/canteen.py
Due: black-format

added call for performance overview
  Client/src/screens/dualis/Dualis.tsx
Due: prettier-format

More comments added to Backend
  Server/config/database.py
  Server/controllers/auth.py
  Server/controllers/user.py
  Server/middleware/auth.py
  Server/middleware/calendar.py
  Server/middleware/canteen.py
  Server/middleware/database.py
  Server/middleware/general.py
  Server/middleware/user.py
  Server/routes/auth.py
  Server/routes/calendar.py
  Server/routes/canteen.py
  Server/routes/user.py
  Server/utils/calendar/nativ_sources.py
  Server/utils/email/email.py
  Server/utils/scheduler/task_scheduler.py
Due: black-format

Format code using Black
  Server/config/database.py
  Server/controllers/auth.py
  Server/controllers/user.py
  Server/middleware/auth.py
  Server/middleware/calendar.py
  Server/middleware/canteen.py
  Server/middleware/database.py
  Server/middleware/general.py
  Server/middleware/user.py
  Server/routes/auth.py
  Server/routes/calendar.py
  Server/routes/canteen.py
  Server/routes/user.py
  Server/utils/calendar/nativ_sources.py
  Server/utils/email/email.py
  Server/utils/scheduler/task_scheduler.py
Due: black-format

fixed build bug
  Client/app.json
Due: prettier-format

Fixed minor bug in calendar-crawler
  Server/utils/calendar/nativ_sources.py
Due: black-format

Bug fixes and improvements to backend calendar logic - New guest_last_accessed database entry added
  Server/controllers/calendar.py
  Server/main.py
  Server/middleware/calendar.py
  Server/models/pydantic_schemas/s_calendar.py
  Server/models/sql_models/m_calendar.py
  Server/requirements.txt
  Server/routes/calendar.py
  Server/routes/canteen.py
  Server/utils/calendar/calendar_wrapper.py
  Server/utils/calendar/nativ_sources.py
Due: black-format

Format code using Black
  Server/controllers/calendar.py
  Server/middleware/calendar.py
  Server/routes/calendar.py
  Server/utils/calendar/calendar_wrapper.py
Due: black-format

Added basic IMAP-Integration - Backend used for IMAP-Calls - Basic Frontend Styling and Logic
  Client/package-lock.json
  Client/package.json
  Client/public/images/svg/navigatorIcons/active/ActiveEmailSVG.tsx
  Client/public/images/svg/navigatorIcons/inactive/EmailSVG.tsx
  Client/src/components/email/EmailDetails.tsx
  Client/src/components/email/EmailList.tsx
  Client/src/components/email/FolderList.tsx
  Client/src/components/email/mimeDecoder.ts
  Client/src/interfaces/email.ts
  Client/src/routes/HomeBottomTabs.tsx
  Client/src/screens/email/Email.tsx
  Server/controllers/email.py
  Server/main.py
  Server/models/pydantic_schemas/s_email.py
  Server/routes/email.py
Due: black-format, prettier-format

Format code using Black
  Server/controllers/calendar.py
  Server/middleware/calendar.py
  Server/models/pydantic_schemas/s_email.py
  Server/routes/calendar.py
  Server/routes/email.py
  Server/utils/calendar/calendar_wrapper.py
Due: black-format

Format code using Prettier
  Client/app.json
  Client/src/App.tsx
  Client/src/components/calendar/Days.tsx
  Client/src/routes/HomeBottomTabs.tsx
  Client/tailwind.config.js
Due: prettier-format

Changed version code
  Client/app.json
  Client/package.json
Due: prettier-format

Format code using Prettier
  Client/app.json
Due: prettier-format

Fixed missing calendar tags
  Server/main.py
  Server/models/sql_models/m_calendar.py
  Server/utils/calendar/calendar_wrapper.py
Due: black-format

Format code using Black
  Server/utils/calendar/calendar_wrapper.py
Due: black-format

Improved Readme
  README.md
Due: prettier-format

Format code using Prettier
  README.md
Due: prettier-format

Changed address table DB Now with combined primary key
  Server/models/sql_models/m_general.py
Due: black-format

Format code using Black
  Server/models/sql_models/m_general.py
Due: black-format

Format code using Prettier
  Client/public/images/svg/navigatorIcons/active/ActiveEmailSVG.tsx
  Client/public/images/svg/navigatorIcons/inactive/EmailSVG.tsx
  Client/src/components/email/EmailDetails.tsx
  Client/src/interfaces/email.ts
  Client/src/screens/email/Email.tsx
Due: prettier-format

added html filter for grades
  Client/package-lock.json
  Client/package.json
  Client/src/screens/dualis/Dualis.tsx
Due: prettier-format
