Repository Leonidas-maker/TheStudentMaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black-format, prettier-format

.gitlab-ci.yml:

stages:
  - format
  - test

black-format:
  stage: format
  image: python:3.12
  script:
    - pip install black
    - black --line-length 120 --target-version py312 .
    - |
      if [ -n "$(git status --porcelain)" ]; then
        mkdir -p ~/.ssh
        echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
        echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        git config user.name "GitLab CI/CD"
        git config user.email "gitlab-ci@example.com"
        git add .
        git commit -m "Format code using Black"
        git push git@gitlab.com:themastercollection/thestudentmaster.git HEAD:$CI_COMMIT_REF_NAME
      else
        echo "No changes to commit. Code is already formatted correctly."
      fi
  rules:
    - changes:
        - "**/*.py"

prettier-format:
  stage: format
  image: node:lts
  script:
    - npm install --global prettier
    - prettier
      "!.gitlab-ci.yml"
      --write
      "**/*.{js,jsx,ts,tsx,json,css,scss,md,yml}"
    - |
      if [ -n "$(git status --porcelain)" ]; then
        mkdir -p ~/.ssh
        echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
        echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        git config user.name "GitLab CI/CD"
        git config user.email "gitlab-ci@example.com"
        git add .
        git commit -m "Format code using Prettier"
        git push git@gitlab.com:themastercollection/thestudentmaster.git HEAD:$CI_COMMIT_REF_NAME
      else
        echo "No changes to commit. Code is already formatted correctly."
      fi
  rules:
    - changes:
        - "**/*.{js,jsx,ts,tsx,json,css,scss,md,yml}"

black:
  stage: test
  image: python:3.12
  script:
    - pip install black
    - black --check --line-length 120 .

prettier:
  stage: test
  image: node:lts
  script:
    - npm install --global prettier
    - prettier
      "!.gitlab-ci.yml"
      --check
      "**/*.{js,jsx,ts,tsx,json,css,scss,md,yml}"

Format code using Black
  Server/main.py
  Server/utils/scheduler/task_scheduler.py
Due: black-format

Resolve "Get hash for canteen and dish"
  Server/data/address_lists/canteen_addresses.json
  Server/middleware/canteen.py
  Server/models/pydantic_schemas/s_canteen.py
  Server/models/sql_models/m_canteen.py
  Server/routes/canteen.py
Due: black-format, prettier-format

added interfaces, changed api domain
  Client/src/components/accountManagement/otpInput/OTPInput.tsx
  Client/src/components/buttons/DefaultButton.tsx
  Client/src/components/buttons/EditButton.tsx
  Client/src/components/buttons/TextButton.tsx
  Client/src/components/calendar/CalendarCalculations.tsx
  Client/src/components/calendar/Days.tsx
  Client/src/components/calendar/Event.tsx
  Client/src/components/calendar/Hours.tsx
  Client/src/components/calendar/PastMarker.tsx
  Client/src/components/calendar/TimeMarker.tsx
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/components/dropdown/Dropdown.tsx
  Client/src/components/menuPlan/DayView.tsx
  Client/src/components/menuPlan/DishView.tsx
  Client/src/components/menuPlan/MenuPlan.tsx
  Client/src/components/navigator/Navigator.tsx
  Client/src/components/profileView/ProfileView.tsx
  Client/src/components/selector/WeekSelector.tsx
  Client/src/components/switch/OptionSwitch.tsx
  Client/src/components/textFields/DefaultText.tsx
  Client/src/components/textFields/Heading.tsx
  Client/src/components/textFields/Subheading.tsx
  Client/src/components/textInputs/TextFieldInput.tsx
  Client/src/interfaces/authInterfaces.tsx
  Client/src/interfaces/calendarInterfaces.tsx
  Client/src/interfaces/canteenProps.tsx
  Client/src/interfaces/componentInterfaces.tsx
  Client/src/interfaces/userInterfaces.tsx
  Client/src/routes/CredentialStack.tsx
  Client/src/screens/accountManagement/registration/Registration.tsx
  Client/src/screens/settings/Settings.tsx
  Client/src/services/api.tsx
  Client/src/services/calendarService.tsx
  Client/src/services/canteenService.tsx
  Client/src/services/eventService.tsx
  Client/src/services/userService.tsx
Due: prettier-format

Format code using Prettier
  Client/src/components/buttons/TextButton.tsx
  Client/src/components/calendar/CalendarCalculations.tsx
  Client/src/components/menuPlan/DishView.tsx
  Client/src/interfaces/authInterfaces.tsx
  Client/src/interfaces/calendarInterfaces.tsx
  Client/src/interfaces/canteenProps.tsx
  Client/src/interfaces/componentInterfaces.tsx
  Client/src/screens/accountManagement/registration/Registration.tsx
  Client/src/screens/settings/Settings.tsx
  Client/src/services/calendarService.tsx
  Client/src/services/canteenService.tsx
  Client/src/services/eventService.tsx
Due: prettier-format

Fixed function argument bug in TaskScheduler
  Server/main.py
  Server/middleware/calendar.py
  Server/utils/scheduler/task_scheduler.py
Due: black-format

added comments for 1/5 of the middleware/canteen.py
  Server/middleware/canteen.py
Due: black-format

Update ResGetCanteenHash class inheritance and added error handling to api call
  Server/models/pydantic_schemas/s_canteen.py
  Server/routes/canteen.py
Due: black-format

Format code using Black
  Server/routes/canteen.py
Due: black-format

Improved the performance of get_menu_for_canteen
  Server/middleware/canteen.py
  Server/models/sql_models/m_canteen.py
Due: black-format

Format code using Black
  Server/middleware/canteen.py
Due: black-format

fix: file name
  Client/src/screens/accountManagement/mfa/BackupMfa.tsx
Due: prettier-format

Slight performance improvements in the backend, reworked security_warns and most db.commit() from middleware/auth are moved to controller/auth
  Server/config/security.py
  Server/controllers/auth.py
  Server/controllers/user.py
  Server/middleware/auth.py
  Server/middleware/user.py
  Server/models/sql_models/m_auth.py
Due: black-format

Format code using Black
  Server/middleware/user.py
Due: black-format

changed file names
  Client/src/App.tsx
  Client/src/components/accountManagement/otpInput/OTPInput.tsx
  Client/src/components/buttons/DefaultButton.tsx
  Client/src/components/buttons/EditButton.tsx
  Client/src/components/buttons/TextButton.tsx
  Client/src/components/calendar/CalendarCalculations.tsx
  Client/src/components/calendar/Days.tsx
  Client/src/components/calendar/Event.tsx
  Client/src/components/calendar/Hours.tsx
  Client/src/components/calendar/PastMarker.tsx
  Client/src/components/calendar/TimeMarker.tsx
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/components/dropdown/Dropdown.tsx
  Client/src/components/menuPlan/DayView.tsx
  Client/src/components/menuPlan/DishView.tsx
  Client/src/components/menuPlan/MenuPlan.tsx
  Client/src/components/navigator/Navigator.tsx
  Client/src/components/profileView/ProfileView.tsx
  Client/src/components/selector/WeekSelector.tsx
  Client/src/components/switch/OptionSwitch.tsx
  Client/src/components/textFields/DefaultText.tsx
  Client/src/components/textFields/Heading.tsx
  Client/src/components/textFields/Subheading.tsx
  Client/src/components/textInputs/TextFieldInput.tsx
  Client/src/screens/accountManagement/login/Login.tsx
  Client/src/screens/accountManagement/registration/Registration.tsx
  Client/src/screens/onboarding/Onboarding.tsx
  Client/src/screens/settings/Settings.tsx
  Client/src/services/applyInterceptor.tsx
  Client/src/services/authService.tsx
  Client/src/services/calendarService.tsx
  Client/src/services/canteenService.tsx
  Client/src/services/eventService.tsx
  Client/src/services/tokenService.tsx
  Client/src/services/userService.tsx
Due: prettier-format

Format code using Prettier
  Client/src/components/calendar/Event.tsx
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/components/textInputs/TextFieldInput.tsx
  Client/src/screens/settings/Settings.tsx
Due: prettier-format

added first draft of onboarding
  Client/babel.config.js
  Client/package-lock.json
  Client/src/App.tsx
  Client/src/components/buttons/OnboardButton.tsx
  Client/src/routes/LoadingStack.tsx
  Client/src/screens/loading/Loading.tsx
  Client/src/screens/onboarding/Onboarding.tsx
  Client/src/screens/onboarding/OnboardingPage.tsx
Due: prettier-format

Format code using Prettier
  Client/babel.config.js
  Client/src/App.tsx
  Client/src/screens/loading/Loading.tsx
  Client/src/screens/onboarding/Onboarding.tsx
  Client/src/screens/onboarding/OnboardingPage.tsx
Due: prettier-format

Fix: used joinedLoads for better performance; removed hash columns from menu and dish sql models
  Server/middleware/canteen.py
  Server/models/sql_models/m_canteen.py
  Server/routes/canteen.py
Due: black-format

added more functions and styling
  Client/src/components/buttons/OnboardButton.tsx
  Client/src/components/buttons/OnboardingButton.tsx
  Client/src/screens/onboarding/Onboarding.tsx
  Client/src/screens/onboarding/OnboardingPage.tsx
Due: prettier-format

Format code using Prettier
  Client/src/components/buttons/OnboardingButton.tsx
  Client/src/screens/onboarding/Onboarding.tsx
  Client/src/screens/onboarding/OnboardingPage.tsx
Due: prettier-format

fixed wrong import
  Server/middleware/canteen.py
Due: black-format

added hash to nearly all canteen endpoints
  Server/middleware/canteen.py
  Server/models/pydantic_schemas/s_canteen.py
  Server/models/sql_models/m_canteen.py
Due: black-format

changed navigation skip button
  Client/src/components/buttons/OnboardingButton.tsx
  Client/src/screens/onboarding/Onboarding.tsx
Due: prettier-format

Format code using Prettier
  Client/src/components/buttons/OnboardingButton.tsx
  Client/src/screens/onboarding/Onboarding.tsx
Due: prettier-format

fixed deprecated functions
  Client/src/components/buttons/OnboardingButton.tsx
  Client/src/screens/onboarding/Onboarding.tsx
  Client/src/screens/onboarding/OnboardingPage.tsx
Due: prettier-format

Format code using Prettier
  Client/src/components/buttons/OnboardingButton.tsx
Due: prettier-format

added onboarding screen
  .DS_Store
  Client/src/components/buttons/OnboardingButton.tsx
  Client/src/components/calendar/WeekCalendar.tsx
  Client/src/components/textFields/Subheading.tsx
  Client/src/routes/MiscStack.tsx
  Client/src/screens/onboarding/Onboarding.tsx
  Client/src/screens/onboarding/OnboardingPage.tsx
  Client/src/screens/overview/Overview.tsx
  Client/src/screens/settings/Settings.tsx
Due: prettier-format

Format code using Prettier
  Client/src/components/buttons/OnboardingButton.tsx
  Client/src/routes/MiscStack.tsx
  Client/src/screens/onboarding/Onboarding.tsx
  Client/src/screens/onboarding/OnboardingPage.tsx
  Client/src/screens/settings/Settings.tsx
Due: prettier-format

added licenses to credit page
  Client/src/screens/credits/Credits.tsx
  Client/src/screens/credits/licenses.json
  Client/src/screens/overview/Overview.tsx
Due: prettier-format

Format code using Prettier
  Client/src/screens/credits/Credits.tsx
  Client/src/screens/credits/licenses.json
Due: prettier-format

added material icons to licenses
  Client/src/routes/MiscStack.tsx
  Client/src/routes/OverviewStack.tsx
  Client/src/screens/licenses/Licenses.tsx
  Client/src/screens/licenses/licenses.json
  Client/src/screens/overview/Overview.tsx
Due: prettier-format

Format code using Prettier
  Client/src/screens/licenses/Licenses.tsx
Due: prettier-format

Format code using Prettier
  Client/app.json
  Client/src/components/buttons/EditButton.tsx
  Client/src/components/buttons/OnboardingButton.tsx
  Client/src/components/menuPlan/MenuPlan.tsx
  Client/src/components/textInputs/TextFieldInput.tsx
  Client/src/interfaces/componentInterfaces.tsx
  Client/src/routes/SettingsStack.tsx
  Client/src/screens/accountManagement/login/Login.tsx
  Client/src/screens/licenses/licenses.json
Due: prettier-format

more comments, fixed some design bugs
  Client/src/App.tsx
  Client/src/routes/MiscStack.tsx
  Client/src/screens/accountManagement/forgotPassword/VerifyForgot.tsx
  Client/src/screens/accountManagement/login/Login.tsx
  Client/src/screens/accountManagement/login/VerifyLogin.tsx
  Client/src/screens/accountManagement/mfa/AddMfa.tsx
  Client/src/screens/accountManagement/mfa/BackupMfa.tsx
  Client/src/screens/accountManagement/mfa/VerifyMfa.tsx
  Client/src/screens/accountManagement/registration/Registration.tsx
  Client/src/screens/accountManagement/registration/VerifyRegistration.tsx
  Client/src/screens/dashboard/Dashboard.tsx
  Client/src/screens/dualis/Dualis.tsx
  Client/src/screens/imprint/Imprint.tsx
  Client/src/screens/licenses/Licenses.tsx
  Client/src/screens/loading/Loading.tsx
  Client/src/screens/mealPlan/MealPlan.tsx
  Client/src/screens/responsibleDisclosure/ResponsibleDisclosure.tsx
  Client/src/screens/settings/Settings.tsx
Due: prettier-format

Format code using Prettier
  Client/src/screens/accountManagement/login/Login.tsx
  Client/src/screens/loading/Loading.tsx
Due: prettier-format

added bug report, support page
  Client/src/routes/MiscStack.tsx
  Client/src/screens/bugReport/BugReport.tsx
  Client/src/screens/overview/Overview.tsx
  Client/src/screens/support/Support.tsx
Due: prettier-format

Format code using Prettier
  Client/src/screens/overview/Overview.tsx
Due: prettier-format

updated to newer expo version
  Client/package-lock.json
  Client/package.json
Due: prettier-format
