Repository Leonidas-maker/TheStudentMaster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black-format, prettier-format

.gitlab-ci.yml:

stages:
  - format
  - test

black-format:
  stage: format
  image: python:3.12
  script:
    - pip install black
    - black --line-length 120 --target-version py312 .
    - |
      if [ -n "$(git status --porcelain)" ]; then
        mkdir -p ~/.ssh
        echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
        echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        git config user.name "GitLab CI/CD"
        git config user.email "gitlab-ci@example.com"
        git add .
        git commit -m "Format code using Black"
        git push git@gitlab.com:themastercollection/thestudentmaster.git HEAD:$CI_COMMIT_REF_NAME
      else
        echo "No changes to commit. Code is already formatted correctly."
      fi
  rules:
    - changes:
        - "**/*.py"

prettier-format:
  stage: format
  image: node:lts
  script:
    - npm install --global prettier
    - prettier
      "!.gitlab-ci.yml"
      --write
      "**/*.{js,jsx,ts,tsx,json,css,scss,md,yml}"
    - |
      if [ -n "$(git status --porcelain)" ]; then
        mkdir -p ~/.ssh
        echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
        echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        git config user.name "GitLab CI/CD"
        git config user.email "gitlab-ci@example.com"
        git add .
        git commit -m "Format code using Prettier"
        git push git@gitlab.com:themastercollection/thestudentmaster.git HEAD:$CI_COMMIT_REF_NAME
      else
        echo "No changes to commit. Code is already formatted correctly."
      fi
  rules:
    - changes:
        - "**/*.{js,jsx,ts,tsx,json,css,scss,md,yml}"

black:
  stage: test
  image: python:3.12
  script:
    - pip install black
    - black --check --line-length 120 .

prettier:
  stage: test
  image: node:lts
  script:
    - npm install --global prettier
    - prettier
      "!.gitlab-ci.yml"
      --check
      "**/*.{js,jsx,ts,tsx,json,css,scss,md,yml}"

solve problem about not getting all menu items fix: wrong formatted prices from website now get fixed in code
  Server/utils/canteen/canteen_stw_ma.py
Due: black-format

replaced all TouchableOpacity to Pressable
  Client/src/components/navigator/Navigator.tsx
  Client/src/components/profileView/ProfileView.tsx
  Client/src/components/selector/WeekSelector.tsx
  Client/src/screens/settings/Settings.tsx
Due: prettier-format

Format code using Prettier
  Client/src/components/navigator/Navigator.tsx
  Client/src/components/selector/WeekSelector.tsx
Due: prettier-format

fixed dark/light/system mode, started with design
  Client/app.json
  Client/package-lock.json
  Client/package.json
  Client/src/App.tsx
  Client/src/components/calendar/Days.tsx
  Client/src/components/calendar/Hours.tsx
  Client/src/components/calendar/PastMarker.tsx
  Client/src/components/calendar/TimeMarker.tsx
  Client/src/components/selector/WeekSelector.tsx
  Client/src/provider/ThemeProvider.tsx
  Client/src/screens/accountManagement/mfa/AddMfa.tsx
  Client/src/screens/dashboard/Dashboard.tsx
  Client/src/screens/settings/Settings.tsx
  Client/tailwind.config.js
Due: prettier-format

Format code using Prettier
  Client/src/components/calendar/Days.tsx
  Client/src/components/calendar/Hours.tsx
  Client/src/provider/ThemeProvider.tsx
  Client/tailwind.config.js
Due: prettier-format

calendar with dark and light mode
  Client/src/components/calendar/Event.tsx
  Client/src/components/selector/WeekSelector.tsx
  Client/src/routes/HomeBottomTabs.tsx
  Client/src/screens/settings/Settings.tsx
  Client/tailwind.config.js
Due: prettier-format

Format code using Prettier
  Client/src/components/calendar/Event.tsx
  Client/src/components/selector/WeekSelector.tsx
  Client/src/routes/HomeBottomTabs.tsx
Due: prettier-format

started working on mealPlan design
  Client/src/components/calendar/Event.tsx
  Client/src/components/dropdown/Dropdown.tsx
  Client/src/components/menuPlan/DayView.tsx
  Client/src/routes/HomeBottomTabs.tsx
  Client/src/screens/mealPlan/MealPlan.tsx
  Client/tailwind.config.js
Due: prettier-format

Format code using Prettier
  Client/src/components/calendar/Event.tsx
  Client/src/components/dropdown/Dropdown.tsx
Due: prettier-format

move db commit for writing changes to database for every week's menu that gets pulled
  Server/middleware/canteen.py
Due: black-format

Remove unused update functions for canteen, dish, and menu
  Server/middleware/canteen.py
Due: black-format

Feat/38 get menu for canteens
  Server/middleware/canteen.py
Due: black-format

more work on design
  Client/src/components/buttons/DefaultButton.tsx
  Client/src/components/calendar/Event.tsx
  Client/src/components/dropdown/Dropdown.tsx
  Client/src/components/menuPlan/DayView.tsx
  Client/src/components/menuPlan/DishView.tsx
  Client/src/components/menuPlan/testData/sample.json
  Client/src/components/navigator/Navigator.tsx
  Client/src/components/selector/WeekSelector.tsx
  Client/src/components/textFields/DefaultText.tsx
  Client/src/components/textFields/Heading.tsx
  Client/src/components/textFields/Subheading.tsx
  Client/src/routes/CredentialStack.tsx
  Client/src/routes/OverviewStack.tsx
  Client/src/screens/accountManagement/forgotPassword/ForgotPassword.tsx
  Client/src/screens/accountManagement/forgotPassword/NewPassword.tsx
  Client/src/screens/accountManagement/forgotPassword/VerifyForgot.tsx
  Client/src/screens/accountManagement/login/Login.tsx
  Client/src/screens/accountManagement/login/VerifyLogin.tsx
  Client/src/screens/accountManagement/mfa/AddMfa.tsx
  Client/src/screens/accountManagement/mfa/BackupMFA.tsx
  Client/src/screens/accountManagement/mfa/VerifyMfa.tsx
  Client/src/screens/accountManagement/registration/Registration.tsx
  Client/src/screens/accountManagement/registration/VerifyRegistration.tsx
  Client/src/screens/credits/Credits.tsx
  Client/src/screens/dualis/Dualis.tsx
  Client/src/screens/imprint/Imprint.tsx
  Client/src/screens/loading/Loading.tsx
  Client/src/screens/overview/Overview.tsx
  Client/src/screens/profile/Profile.tsx
  Client/src/screens/responsibleDisclosure/ResponsibleDisclosure.tsx
  Client/src/screens/settings/Settings.tsx
  Client/tailwind.config.js
Due: prettier-format

Format code using Prettier
  Client/src/components/calendar/Event.tsx
  Client/src/components/menuPlan/DishView.tsx
  Client/src/components/menuPlan/testData/sample.json
  Client/src/components/navigator/Navigator.tsx
  Client/src/components/textFields/Subheading.tsx
  Client/src/screens/accountManagement/mfa/AddMfa.tsx
Due: prettier-format

change button design
  Client/src/components/buttons/DefaultButton.tsx
  Client/src/components/buttons/TextButton.tsx
  Client/src/components/profileView/ProfileView.tsx
Due: prettier-format

Format code using Prettier
  Client/src/components/profileView/ProfileView.tsx
Due: prettier-format

fixed not unique key issue, removed useTranslation
  Client/src/components/menuPlan/DayView.tsx
  Client/src/components/menuPlan/DishView.tsx
  Client/src/components/menuPlan/MenuPlan.tsx
  Client/src/components/profileView/ProfileView.tsx
  Client/src/screens/accountManagement/forgotPassword/ForgotPassword.tsx
  Client/src/screens/accountManagement/forgotPassword/NewPassword.tsx
  Client/src/screens/accountManagement/forgotPassword/VerifyForgot.tsx
  Client/src/screens/accountManagement/login/Login.tsx
  Client/src/screens/accountManagement/login/VerifyLogin.tsx
  Client/src/screens/accountManagement/mfa/AddMfa.tsx
  Client/src/screens/accountManagement/mfa/VerifyMfa.tsx
  Client/src/screens/accountManagement/registration/Registration.tsx
  Client/src/screens/accountManagement/registration/VerifyRegistration.tsx
  Client/src/screens/credits/Credits.tsx
  Client/src/screens/dashboard/Dashboard.tsx
  Client/src/screens/dualis/Dualis.tsx
  Client/src/screens/imprint/Imprint.tsx
  Client/src/screens/loading/Loading.tsx
  Client/src/screens/mealPlan/MealPlan.tsx
  Client/src/screens/overview/Overview.tsx
  Client/src/screens/profile/Profile.tsx
  Client/src/screens/responsibleDisclosure/ResponsibleDisclosure.tsx
  Client/src/screens/settings/Settings.tsx
Due: prettier-format

Format code using Prettier
  Client/src/components/menuPlan/DayView.tsx
  Client/src/screens/accountManagement/forgotPassword/ForgotPassword.tsx
  Client/src/screens/accountManagement/forgotPassword/NewPassword.tsx
  Client/src/screens/accountManagement/forgotPassword/VerifyForgot.tsx
  Client/src/screens/accountManagement/login/Login.tsx
  Client/src/screens/accountManagement/login/VerifyLogin.tsx
  Client/src/screens/accountManagement/mfa/AddMfa.tsx
  Client/src/screens/accountManagement/mfa/VerifyMfa.tsx
  Client/src/screens/accountManagement/registration/VerifyRegistration.tsx
  Client/src/screens/credits/Credits.tsx
  Client/src/screens/dashboard/Dashboard.tsx
  Client/src/screens/dualis/Dualis.tsx
  Client/src/screens/imprint/Imprint.tsx
  Client/src/screens/mealPlan/MealPlan.tsx
  Client/src/screens/overview/Overview.tsx
  Client/src/screens/profile/Profile.tsx
  Client/src/screens/responsibleDisclosure/ResponsibleDisclosure.tsx
Due: prettier-format

Finished backend API: - Added application registration - Added test "concept" for full backend api test - Added canteen user api
  .gitlab-ci.yml
  Server/config/database.py
  Server/controllers/auth.py
  Server/controllers/user.py
  Server/main.py
  Server/middleware/auth.py
  Server/middleware/database.py
  Server/models/pydantic_schemas/s_auth.py
  Server/models/pydantic_schemas/s_calendar.py
  Server/models/pydantic_schemas/s_general.py
  Server/models/sql_models/m_auth.py
  Server/pyproject.toml
  Server/routes/auth.py
  Server/routes/calendar.py
  Server/routes/user.py
  Server/test/__init__.py
  Server/test/none
  Server/test/test_main.py
  Server/utils/email/email.py
  requirements.txt
Due: black-format, prettier-format

Format code using Black
  Server/config/security.py
  Server/controllers/auth.py
  Server/controllers/user.py
  Server/main.py
  Server/middleware/auth.py
  Server/middleware/calendar.py
  Server/middleware/database.py
  Server/middleware/general.py
  Server/middleware/user.py
  Server/models/pydantic_schemas/s_auth.py
  Server/models/pydantic_schemas/s_calendar.py
  Server/models/pydantic_schemas/s_general.py
  Server/models/pydantic_schemas/s_user.py
  Server/models/sql_models/m_auth.py
  Server/models/sql_models/m_calendar.py
  Server/models/sql_models/m_general.py
  Server/models/sql_models/m_user.py
  Server/routes/auth.py
  Server/routes/calendar.py
  Server/routes/user.py
  Server/test/__init__.py
  Server/test/test_main.py
  Server/utils/calendar/calendar_wrapper.py
  Server/utils/calendar/nativ_sources.py
  Server/utils/email/email.py
Due: black-format

Backend-API update - Addressing mutiple Issues
  Server/config/database.py
  Server/config/security.py
  Server/controllers/auth.py
  Server/controllers/user.py
  Server/data/address_lists/ger_univercity.json
  Server/main.py
  Server/middleware/auth.py
  Server/middleware/calendar.py
  Server/middleware/general.py
  Server/middleware/ical.py
  Server/middleware/user.py
  Server/models/pydantic_schemas/s_auth.py
  Server/models/pydantic_schemas/s_calendar.py
  Server/models/pydantic_schemas/s_general.py
  Server/models/pydantic_schemas/s_ical.py
  Server/models/pydantic_schemas/s_user.py
  Server/models/sql_models/m_auth.py
  Server/models/sql_models/m_calendar.py
  Server/models/sql_models/m_general.py
  Server/models/sql_models/m_ical.py
  Server/models/sql_models/m_user.py
  Server/pyproject.toml
  Server/routes/auth.py
  Server/routes/calendar.py
  Server/routes/user.py
  Server/test/__init__.py
  Server/test/test_main.py
  Server/utils/calendar/__init__.py
  Server/utils/calendar/calendar_wrapper.py
  Server/utils/calendar/nativ_sources.py
  Server/utils/email/email.py
  Server/utils/ical/__init__.py
  Server/utils/ical/general.py
  Server/utils/ical/nativ_sources.py
  Server/utils/ical/schemas.py
  requirements.txt
Due: black-format, prettier-format

Added Docker file for backend
  Server/.dockerignore
  Server/Dockerfile
  Server/compose.yaml
Due: none

Unnecessary docs removed and uml backend-structure started
  Misc/TestConcept.md
  Misc/docs/Frontend/Dualis.md
  Misc/docs/Server/structure.drawio
  Server/.gitignore
  Server/Dockerfile
  Server/requirements.txt
Due: prettier-format

add module profanify-checks to requirements.txt
  requirements.txt
Due: none

change canteen update frequency to hourly
  Server/main.py
Due: black-format

Update main.py imports and add canteen menu update task to hourly update
  Server/main.py
Due: black-format

make update of canteen work for 3 weeks
  Server/middleware/canteen.py
Due: black-format

Format code using Black
  Server/main.py
Due: black-format

Update .gitignore to include node_modules
  .gitignore
Due: none

rename canteen scraper
  Server/middleware/canteen.py
  Server/utils/canteen/canteen_scraper.py
Due: black-format

reconfigure Translation i18next backends
  Client/package-lock.json
  Client/package.json
  Client/src/translations/TranslationConfig.tsx
Due: prettier-format

fix merge conflict
  Client/package-lock.json
Due: prettier-format

fix missing bracket
  Client/package-lock.json
Due: prettier-format

Format code using Prettier
  Client/locales/de/common.json
  Client/locales/en/common.json
  Client/package-lock.json
  Client/src/App.tsx
Due: prettier-format

Implementation of get_menu_for_canteen function in canteen middleware
  Server/middleware/canteen.py
  Server/routes/user.py
Due: black-format

Format code using Black
  Server/middleware/canteen.py
  Server/routes/user.py
Due: black-format

fix i18next translation
  Client/package-lock.json
  Client/package.json
  Client/src/App.tsx
  Client/src/translations/TranslationConfig.tsx
Due: prettier-format

Format code using Prettier
  Client/src/App.tsx
Due: prettier-format

styled textinput, dropdown, optionswitch
  Client/src/components/buttons/DefaultButton.tsx
  Client/src/components/dropdown/Dropdown.tsx
  Client/src/components/switch/OptionSwitch.tsx
  Client/src/components/textInputs/TextFieldInput.tsx
Due: prettier-format
